In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import calendar
from scipy.stats import chi2_contingency
from IPython.display import display
import os, re
project_folder =os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
decade = 'Q34_1'
import warnings
warnings.filterwarnings(action='ignore')
data_path = f'{project_folder}/python/notebooks/output/general/'

In [2]:

data_general = pd.read_csv(f'{project_folder}/data/process/final_geo_coding.csv', skiprows=[1, 2]).reset_index()
data_general['Q34_1'] = data_general['Q34'].dropna().map(lambda x:str(int(x/10)*10) +'s')
data_general

,level_0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,StartDate,EndDate,Status,IPAddress,Progress,...,Q40,Q40_3_TEXT,lat,lon,score,stolen_bikes_place,country,city,state,Q34_1
0,0,2,718,745,745,5/3/2022 19:05,5/3/2022 19:19,IP Address,208.98.223.42,100,...,"A bicycle registry/recovery system (e.g., Bike...",NaN,-113.490140,53.545450,100.0,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,1930s
1,1,3,313,323,323,4/27/2022 16:30,4/27/2022 16:44,IP Address,99.171.110.253,100,...,Email,NaN,-117.874460,33.749580,100.0,"Santa Ana,California,USA",USA,Santa Ana,California,1930s
2,2,4,1409,1492,1492,5/11/2022 14:54,5/11/2022 15:00,IP Address,76.103.138.149,100,...,Email,NaN,-121.885420,37.338650,100.0,"San Jose,California,USA",USA,San Jose,California,1940s
3,3,5,1603,1710,1710,5/15/2022 20:21,5/15/2022 20:27,IP Address,68.149.96.52,100,...,Email,NaN,-113.490140,53.545450,100.0,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,1940s
4,4,6,5,7,7,4/22/2022 11:46,4/22/2022 11:53,IP Address,97.113.1.186,100,...,Email,NaN,-122.329450,47.603570,100.0,"Seattle,Washington,USA",USA,Seattle,Washington,1940s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,1816,1818,1773,1967,1967,5/16/2022 17:58,5/16/2022 18:03,IP Address,73.189.49.55,82,...,NaN,NaN,-122.285410,38.299110,100.0,"Napa,California,USA",USA,Napa,California,NaN
1817,1817,1819,1786,1981,1981,6/1/2022 14:44,6/1/2022 14:51,IP Address,72.194.49.254,100,...,Email,NaN,-119.728880,34.441470,100.0,"Santa Barbara,California,USA",USA,Santa Barbara,California,NaN
1818,1818,1820,1795,1990,1990,6/2/2022 14:51,6/2/2022 14:56,IP Address,107.122.81.38,100,...,Other (please specify):,Facebook,-119.699050,34.419380,100.0,"Santa Barbara,California,USA",USA,Santa Barbara,California,NaN
1819,1819,1821,1823,2021,2021,5/24/2022 12:17,5/24/2022 12:20,IP Address,174.90.223.242,69,...,NaN,NaN,-114.057141,51.045113,100.0,"Calgary,Alberta,CAN",CAN,Calgary,Alberta,NaN
1820,1820,1822,1824,2022,2022,6/8/2022 3:19,6/8/2022 3:30,IP Address,108.211.181.111,100,...,Other (please specify):,acquientance,-122.419640,37.777120,100.0,"San Francisco,California,USA",USA,San Francisco,California,NaN

In [5]:
data_general.groupby('Q10').count()

,level_0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,StartDate,EndDate,Status,IPAddress,Progress,...,Q40,Q40_3_TEXT,lat,lon,score,stolen_bikes_place,country,city,state,Q34_1
Q10,,,,,,,,,,,,,,,,,,,,,
Don’t know/not sure,61,61,61,61,61,61,61,61,61,61,...,56,2,61,61,61,61,61,55,61,54
No,1124,1124,1124,1124,1124,1124,1124,1124,1124,1124,...,1054,102,1124,1124,1124,1124,1124,1077,1124,1033
Yes,634,634,634,634,634,634,634,634,634,634,...,592,40,634,634,634,634,634,600,634,580

In [3]:

# show the questions
pd.read_csv(f'{project_folder}/data/process/new_data.csv', skiprows=[2]).reset_index().iloc[0]

index                                                          0
StartDate                                             Start Date
EndDate                                                 End Date
Status                                             Response Type
IPAddress                                             IP Address
                                     ...
Q38            What is the highest level of education you hav...
Q39            What do you consider your main ethnic origin o...
Q39_10_TEXT    What do you consider your main ethnic origin o...
Q40            Where did you hear about this survey? - Select...
Q40_3_TEXT     Where did you hear about this survey? - Other ...
Name: 0, Length: 75, dtype: object

In [3]:
questions ={'Q2':'part','Q6':'day_time','Q7':'is_locked','Q8':'locked_type','Q9':'theft_location','Q10':'is_registered','Q11':'where_report','Q12':'is_insured','Q13':'value_approx. ','Q14':'is_electric','Q15':'bicycle_type','Q17':'is_university','Q18':'is_recovered','Q19':'is_online','Q20':'how_recovered','Q21':'is_police_assist','Q23':'recovery_location','Q24':'recovery_condition ','Q34_1': 'birth by decade', 'Q35': 'gender', 'Q36': 'income','Q37':'number_of_bicycles ', 'Q38': 'education', 'Q39': 'ethnic_origin'}
questions ={item[0]: item[1].capitalize().replace('_',' ') for item in questions.items()}
questions

{'Q2': 'Part',
 'Q6': 'Day time',
 'Q7': 'Is locked',
 'Q8': 'Locked type',
 'Q9': 'Theft location',
 'Q10': 'Is registered',
 'Q11': 'Where report',
 'Q12': 'Is insured',
 'Q13': 'Value approx. ',
 'Q14': 'Is electric',
 'Q15': 'Bicycle type',
 'Q17': 'Is university',
 'Q18': 'Is recovered',
 'Q19': 'Is online',
 'Q20': 'How recovered',
 'Q21': 'Is police assist',
 'Q23': 'Recovery location',
 'Q24': 'Recovery condition ',
 'Q34_1': 'Birth by decade',
 'Q35': 'Gender',
 'Q36': 'Income',
 'Q37': 'Number of bicycles ',
 'Q38': 'Education',
 'Q39': 'Ethnic origin'}

In [8]:
new_tables = []
percentage = 'Percentage'
count = 'Count'
# Specific code for birth year

for pair in questions.items():
    # statistic by count (display also by percentage)
    # pair = ('Q39','ethnic_origin')
    question = pair[0]
    #  code for birth year has already conducted

    # work on specific question
    table_0 = DataFrame(data_general.groupby(question).count()['level_0'].sort_values(ascending=False).rename(count))
    # Clean unnecessary data and white space
    table = table_0.set_index(table_0.index.map(lambda x: re.sub("\(.*?\)", "", x)).str.replace('      ', '').str.strip()) if question !='Q34_1' \
        else table_0

    table[percentage] = round(table[count] / table[count].sum() * 100, 1)


    # create multiindex
    test = table.copy()
    test['new_index'] = pair[1]
    table.index = pd.MultiIndex.from_arrays([test['new_index'],table.index])
    table.sort_values(by=percentage,ascending=False)
    table[percentage] = table[percentage].astype(str)+'%'
    new_tables.append(table.iloc[:3])

whole_data = DataFrame(data=pd.concat(new_tables))
whole_data.index.names = ['Question', 'Response']
whole_data.to_excel(f'{data_path}/table.xlsx')

In [21]:
def get_the_highest(table_updated, table_to_agg):
# This method aggregates small numbers of response types while maintaining 10% percentiles
    if table_to_agg[percentage].sum()<10:
        if len(table_to_agg)==1:
            # No aggregation is required
            table_updated = table_updated.append(table_to_agg)
        else:
            table_updated.loc['Aggregated Responses'] = round(table_to_agg.sum(), 1)
        return table_updated
    else:
        table_updated = table_updated.append(table_to_agg.iloc[0])
        return get_the_highest(table_updated, table_to_agg.iloc[1:])

In [22]:
def sub_aggregate_def(indices:list,j,sum)-> list:
    """
    add all the response types that together are less than 10%
    :param indices: list to updata
    :param j: next response types index to check
    :param sum: the current percentile sum
    :return:
    """
    temp_sum = sub_aggregate.iloc[j][percentage] +sum
    if temp_sum>10:
        return indices
    else:
        indices.append(j)
        if j+1 <len_sub_aggregate:
            indices = sub_aggregate_def(indices,j+1,temp_sum)
    return indices

In [28]:
new_tables = {}
percentage = 'percentage'
# Specific code for birth year


for pair in questions.items():
    # statistic by count (display also by percentage)
    # pair = ('Q39','ethnic_origin')
    question = pair[0]
    #  code for birth year has already conducted
    if question =='Q34':
        table_0 = DataFrame(data_general.groupby('Q34').count()['level_0'].sort_values(ascending=False).rename('count'))
        # convert year to decade.
        decade = 'decade'
        table_0[decade] = table_0.index.map(lambda x:int(x/10)*10)
        table = DataFrame(table_0.groupby(decade).sum()['count'].sort_values(ascending=False))
        table[percentage] = round(table['count']/table['count'].sum()*100,1)
        new_tables['Q34_1_birth'] = table.sort_values(by=decade)
        continue

    # work on specific question
    table_0 = DataFrame(data_general.groupby(question).count()['level_0'].sort_values(ascending=False).rename('count'))
    # Clean unnecessary data and white space
    table = table_0.set_index(table_0.index.map(lambda x: re.sub("\(.*?\)","",x)).str.replace('      ','').str.strip())

    table[percentage] = round(table['count']/table['count'].sum()*100,1)
    # Aggregate responses type with less than 10 responses
    table_aggregate = table[table[percentage]<10]
    table_new = table.copy()

    if len(table_aggregate)>1:
         # There are more than 1 values with less than 10% respondent
        table_new =table[table[percentage]>10]
        table_add = get_the_highest(DataFrame(columns=table_aggregate.columns),table_aggregate)
        # There are more than 1 values with less than 10% respondents that not part of aggregation process before
        if len(table_add)>2:
            sub_aggregate = table_add.iloc[:-1].sort_values(by=percentage)
            i =0
            len_sub_aggregate = len(sub_aggregate)
            while i < len_sub_aggregate:
                if i ==len_sub_aggregate -1:
                    indices = [i]
                else:
                    indices = sub_aggregate_def([i],i+1,sub_aggregate.iloc[i][percentage])
                # aggregate sll the responses type based on indices
                temp_df =sub_aggregate.iloc[indices]
                table_new.loc[' OR '.join(list(temp_df.index))] = temp_df.sum()
                i = indices[-1]+1
            table_new =table_new.append(table_add.iloc[-1])
        else:
            table_new = table_new.append(table_add)

    # add the new table into tables dictionary
    # table_new.sort_values(by=percentage,ascending=False,inplace=True)
    # table_new[percentage] = table[percentage].astype(str)+'%'
    new_tables[f'{question}_{pair[1]}'] = table_new.sort_values(by=percentage,ascending=False)
    # break
with pd.ExcelWriter(f"{project_folder}/python/notebooks/output/general/output.xlsx") as writer:
    [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables.items()]

In [12]:
# Run code without aggregation
new_tables = {}
percentage = 'percentage'
# Specific code for birth year
for pair in questions.items():
    # statistic by count (display also by percentage)
    # pair = ('Q39','ethnic_origin')
    question = pair[0]
    #  code for birth year has already conducted
    if question =='Q34':
        table_0 = DataFrame(data_general.groupby('Q34').count()['level_0'].sort_values(ascending=False).rename('count'))
        # convert year to decade.
        table_0[decade] = table_0.index.map(lambda x:int(x/10)*10)
        table = DataFrame(table_0.groupby(decade).sum()['count'].sort_values(ascending=False))
        table[percentage] = round(table['count']/table['count'].sum()*100,1)
        new_tables['Q34_1_birth'] = table.sort_values(by=decade)
        continue

    # work on specific question
    table_0 = DataFrame(data_general.groupby(question).count()['level_0'].sort_values(ascending=False).rename('count'))
    # Clean unnecessary data and white space
    table = table_0.set_index(table_0.index.map(lambda x: re.sub("\(.*?\)","",x)).str.replace('      ','').str.strip())

    table[percentage] = round(table['count']/table['count'].sum()*100,1)

    # add the new table into tables dictionary
    new_tables[f'{question}_{pair[1]}'] = table.sort_values(by=percentage,ascending=False)
    # break
with pd.ExcelWriter(f"{project_folder}/python/notebooks/output/general/no_agg.xlsx") as writer:
    [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables.items()]

In [10]:
# registered bicycles
# United States VS Canada - Recovery
# data_general_0 = data_general[data_general['Q18']=='Yes (including if damaged) ']
data_general_0 = data_general[data_general['Q18']=='Yes (including if damaged) ']
len(data_general_0)
new_tables = {}
percentage = 'percentage'
countries_names = list(data_general_0['country'].drop_duplicates())

countries_data = {countries_names[0]:data_general_0[data_general_0['country']==countries_names[0]],
                  countries_names[1]:data_general_0[data_general_0['country']==countries_names[1]]}

for pair in questions.items():
    by_countries_table = DataFrame(columns=countries_names)
    # statistic by count (display also by percentage)
    # pair = ('Q34', 'birth')
    question = pair[0]
    #  code for birth year has already conducted
    if question =='Q34':
        for item in countries_names:
            country_data= countries_data[item]
            # Specific code for birth year
            table_0 = DataFrame(country_data.groupby('Q34').count()['level_0'].sort_values(ascending=False).rename('count'))
            # convert year to decade.
            decade = 'Q34_1'
            table_0[decade] = table_0.index.map(lambda x:int(x/10)*10)
            table = DataFrame(table_0.groupby(decade).sum()['count'].sort_values(ascending=False))
            by_countries_table[item] = round(table['count']/table['count'].sum()*100,1)

        by_countries_table.columns = by_countries_table.columns + '(%)'
        by_countries_table.fillna(0,inplace=True)
        new_tables[f'{question}_{pair[1]}'] = by_countries_table.sort_values(by=decade)
        continue
    for item in countries_names:
        country_data= countries_data[item]
        # work on specific question
        table_0 = DataFrame(country_data.groupby(question).count()['level_0'].sort_values(ascending=False).rename('count'))
        # Clean unnecessary data and white space
        table = table_0.set_index(table_0.index.map(lambda x: re.sub("\(.*?\)","",x)).str.replace('      ','').str.strip())
        by_countries_table[item] = round(table['count']/table['count'].sum()*100,1)
    by_countries_table.columns = by_countries_table.columns + '(%)'
    by_countries_table.fillna(0,inplace=True)
        # add the new table into tables dictionary
    new_tables[f'{question}_{pair[1]}'] = by_countries_table.sort_values(by='USA(%)',ascending=False)
    # break
with pd.ExcelWriter(f"{project_folder}/python/notebooks/output/general/usa_canada_recovery.xlsx") as writer:
    [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables.items()]

634

In [4]:
def check_type(value_check):
    r"""
    if it is tuple the name and the column names are different
    :param value_check:
    :return:
    """
    return (value_check[0], '_'.join(value_check)) if isinstance(value_check, tuple) else (value_check, value_check)

In [8]:
def bivariate_analysis_update(data_to_group:DataFrame, main_vars_to_group:list, secondary_vars:list, field_to_count:str, my_data_path:str):
    r"""
    It goes over the dictionary and calculate the cross relation between the variable inside
    :param my_data_path: he code creates a new folder here if it does not already exist, and it saves the new Excel files there.
    :param data_to_group: data to work on
    :param field_to_count: which field to retain after groupby and counting
    :param main_vars_to_group:
    :param secondary_vars:
    :return:
    """
    os.makedirs(my_data_path,exist_ok = True)
    for main_var in main_vars_to_group:
        col_name,print_main = check_type(main_var)
        print(f'\n{print_main}')
        new_tables_data = {}
        data1 = data_to_group[~data_to_group[col_name].isin(['No Response', 'no response'])].dropna(subset= col_name)
        for other in secondary_vars:
            col_secondary,print_secondary = check_type(other)
            if col_secondary ==col_name:
                continue
            print(f'{print_secondary}\t',end="")
            data2 = data1[~data_to_group[col_secondary].isin(['No Response', 'no response'])].dropna(subset=col_secondary)
            sum_field = data2.groupby(col_name).count()[field_to_count].rename('count')
            # GroupBy two questions (one of which is main_var)
            table_00 = DataFrame(data2.groupby([col_name, col_secondary]).count()[field_to_count].rename(''))
            # Get the data in readable structure
            table_0 =table_00.unstack(fill_value=0)
            # Clean columns and index
            table_0.columns = table_0.columns.droplevel()

            # get percentage (questions variables for each group)
            old_columns =table_0.columns
            table_2 = table_0.copy()
            table_2[old_columns.astype(str) +' (%)'] = round(table_0.div(sum_field, axis=0) * 100, 1).astype(str)+'%'
            table_2['sum_field'] = sum_field
            if print_main == 'Q13_estimate_val':
                # estimate_val should be sorted by value
                table_2['sort_by_value'] = dic_df_estimate_val
                new_tables_data[f'{print_secondary}'] =table_2.sort_values(by='sort_by_value')
            else:
                new_tables_data[f'{print_secondary}'] =table_2.sort_values(by='sum_field',ascending=False)
        with pd.ExcelWriter(f"{my_data_path}/{print_main}.xlsx") as writer:
            [item[1].to_excel(writer, sheet_name=item[0]) for item in new_tables_data.items()]

In [6]:
# Optional
DataFrame(data_general['Q13'].unique()).to_csv(f'{data_path}/Q13_answers.csv')

In [11]:

# find correlation between two variables - Demographic
# demographic_data= {'Q11':'report_loc','Q13': 'estimate_val','Q34_1': 'birth', 'Q35': 'gender', 'Q36': 'income','Q37':'number_of_bicycles ', 'Q38': 'education', 'Q39': 'ethnic_origin'}
demographic_data= {'Q11':'report_loc'}
other_data ={'Q2': 'part', 'Q6': 'day_time', 'Q7': 'is_locked', 'Q8': 'locked_type', 'Q9': 'theft_location', 'Q10': 'is_regi', 'Q11': 'report_loc', 'Q12': 'is_insured', 'Q14': 'is_electric', 'Q15': 'bike_type', 'Q17': 'is_university','Q18':'is_recovered', 'Q19': 'is_online','Q20':'how_recovered', 'Q21': 'is_police_assist', 'Q23': 'recovery_loc', 'Q24': 'con_recovery'}
# for estimate_val
dic_df_estimate_val = pd.read_csv(f'{data_path}/Q13_answers.csv',index_col='value')

demographic_data= [item for item in demographic_data.items()]
other_data  = [item for item in other_data.items()]
bivariate_analysis_update(data_to_group=data_general,main_vars_to_group=demographic_data,secondary_vars=other_data,field_to_count='level_0',my_data_path=f'{data_path}/demographic')

Q11_report_loc
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q12_is_insured	Q14_is_electric	Q15_bike_type	Q17_is_university	Q18_is_recovered	Q19_is_online	Q20_how_recovered	Q21_is_police_assist	Q23_recovery_loc	Q24_con_recovery

In [30]:

# find correlation between two variables -Recovery

recovery_data= {'Q18':'is_recovered', 'Q19': 'is_online', 'Q21': 'is_police_assist', 'Q23': 'recovery_loc', 'Q24': 'con_recovery'}
other_data ={'Q2': 'part', 'Q6': 'day_time', 'Q7': 'is_locked', 'Q8': 'locked_type', 'Q9': 'theft_location', 'Q10': 'is_regi', 'Q11': 'report_loc', 'Q12': 'is_insured', 'Q13': 'estimate_val', 'Q14': 'is_electric', 'Q15': 'bike_type', 'Q17': 'is_university','Q34_1': 'birth', 'Q35': 'gender', 'Q36': 'income','Q37':'number_of_bicycles ', 'Q38': 'education', 'Q39': 'ethnic_origin'}
recovery_data= [item for item in recovery_data.items()]
other_data  = [item for item in other_data.items()]
bivariate_analysis_update(data_to_group=data_general,main_vars_to_group=recovery_data,secondary_vars=other_data,field_to_count='level_0',my_data_path=f'{data_path}/recovery')

Q18_is_recovered
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin
Q19_is_online
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin
Q21_is_police_assist
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin
Q23_recovery_loc
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin
Q24_con_recovery
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin

In [19]:
# This code run the aalysis on the cities with the highest number of answers
data_general.groupby('city').count()
data_general_city = data_general[data_general['city'].isin(['San Francisco','Seattle','Calgary','Edmonton','Los Angeles'])]
data_general_city

,level_0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,StartDate,EndDate,Status,IPAddress,Progress,...,Q40,Q40_3_TEXT,lat,lon,score,stolen_bikes_place,country,city,state,Q34_1
0,0,2,718,745,745,5/3/2022 19:05,5/3/2022 19:19,IP Address,208.98.223.42,100,...,"A bicycle registry/recovery system (e.g., Bike...",NaN,-113.490140,53.545450,100.0,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,1930s
3,3,5,1603,1710,1710,5/15/2022 20:21,5/15/2022 20:27,IP Address,68.149.96.52,100,...,Email,NaN,-113.490140,53.545450,100.0,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,1940s
4,4,6,5,7,7,4/22/2022 11:46,4/22/2022 11:53,IP Address,97.113.1.186,100,...,Email,NaN,-122.329450,47.603570,100.0,"Seattle,Washington,USA",USA,Seattle,Washington,1940s
6,6,8,1214,1277,1277,5/11/2022 11:00,5/11/2022 11:04,IP Address,73.231.228.78,100,...,Email,NaN,-122.419640,37.777120,100.0,"San Francisco,California,USA",USA,San Francisco,California,1940s
9,9,11,604,630,630,5/3/2022 14:19,5/3/2022 14:27,IP Address,50.99.114.237,100,...,Email,NaN,-113.490140,53.545450,100.0,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,1940s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,1813,1815,1762,1952,1952,5/13/2022 12:47,5/13/2022 12:51,IP Address,136.25.110.98,82,...,NaN,NaN,-122.419640,37.777120,100.0,"San Francisco,California,USA",USA,San Francisco,California,NaN
1814,1814,1816,1765,1956,1956,5/14/2022 18:15,5/14/2022 18:17,IP Address,72.134.228.254,69,...,NaN,NaN,-118.245450,34.053570,100.0,"Los Angeles,California,USA",USA,Los Angeles,California,NaN
1815,1815,1817,1768,1961,1961,5/15/2022 22:05,5/15/2022 22:09,IP Address,24.17.91.3,69,...,NaN,NaN,-122.329450,47.603570,100.0,"Seattle,Washington,USA",USA,Seattle,Washington,NaN
1819,1819,1821,1823,2021,2021,5/24/2022 12:17,5/24/2022 12:20,IP Address,174.90.223.242,69,...,NaN,NaN,-114.057141,51.045113,100.0,"Calgary,Alberta,CAN",CAN,Calgary,Alberta,NaN
1820,1820,1822,1824,2022,2022,6/8/2022 3:19,6/8/2022 3:30,IP Address,108.211.181.111,100,...,Other (please specify):,acquientance,-122.419640,37.777120,100.0,"San Francisco,California,USA",USA,San Francisco,California,NaN

In [20]:
data_path = f'{project_folder}/python/notebooks/output/general/'
# analysis by the four city
city_data= ['city']
other_data ={'Q2': 'part', 'Q6': 'day_time', 'Q7': 'is_locked', 'Q8': 'locked_type', 'Q9': 'theft_location', 'Q10': 'is_regi', 'Q11': 'report_loc', 'Q12': 'is_insured', 'Q13': 'estimate_val', 'Q14': 'is_electric', 'Q15': 'bike_type', 'Q17': 'is_university','Q18':'is_recovered', 'Q19': 'is_online','Q20':'how_recovered', 'Q21': 'is_police_assist', 'Q23': 'recovery_loc', 'Q24': 'con_recovery','Q34_1': 'birth', 'Q35': 'gender', 'Q36': 'income','Q37':'number_of_bicycles ', 'Q38': 'education', 'Q39': 'ethnic_origin'}
other_data  = [item for item in other_data.items()]
# city_data= [item for item in city_data.items()]
bivariate_analysis_update(data_to_group=data_general_city, main_vars_to_group=city_data, secondary_vars=other_data,
                          field_to_count='level_0',my_data_path=f'{data_path}/by_city')

city
Q2_part	Q6_day_time	Q7_is_locked	Q8_locked_type	Q9_theft_location	Q10_is_regi	Q11_report_loc	Q12_is_insured	Q13_estimate_val	Q14_is_electric	Q15_bike_type	Q17_is_university	Q18_is_recovered	Q19_is_online	Q20_how_recovered	Q21_is_police_assist	Q23_recovery_loc	Q24_con_recovery	Q34_1_birth	Q35_gender	Q36_income	Q37_number_of_bicycles 	Q38_education	Q39_ethnic_origin