In [39]:

import calendar
import prince
months = list(map(lambda x: x.lower(), calendar.month_name))[1:]
import pandas as pd
from pandas import DataFrame

import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'

import matplotlib.pylab as pylab

params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 10),
          'axes.labelsize': 'x-large',
          'axes.titlesize': 'x-large',
          'xtick.labelsize': 'x-large',
          'ytick.labelsize': 'x-large'}
pylab.rcParams.update(params)

import os

project_folder = f'{os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))}/data/process'
import warnings

warnings.filterwarnings(action='ignore')
from IPython.display import display
from IPython.display import Markdown
from IPython.display import display_html


predictors ={'Q13':'value_approx','Q14':'is_electric','Q15':'bicycle_type','Q18':'is_recover',  'Q28':'seasons', 'Q29':'purpose', 'age_groups': 'age', 'Q35': 'gender', 'Q36': 'income','Q37':'nm_bikes', 'Q38': 'education','country':'country'}
dependent_vars = {'Q25':'is_replaced','Q30':'mode_alt', 'Q31':'post_act','Q26_new':'days_bikes'}

In [40]:
merge_q = pd.read_csv(f'{project_folder}/new_data/new_data_2.csv')
merge_q

,Unnamed: 0.4,Unnamed: 0.3,index,Q26,level_0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,StartDate,EndDate,...,stolen_bikes_place,country,city,state,num_of_days,Q26_new,Q28,Q34_0,age,age_groups
0,0,0,745,4 months,0,2,718,745,5/3/2022 19:05,5/3/2022 19:19,...,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,120.0,180.0,2.0,1930s,87.0,Older adults (>64)
1,1,1,323,1 month,1,3,313,323,4/27/2022 16:30,4/27/2022 16:44,...,"Santa Ana,California,USA",USA,Santa Ana,California,30.0,30.0,0.0,1930s,84.0,Older adults (>64)
2,2,2,1492,30,2,4,1409,1492,5/11/2022 14:54,5/11/2022 15:00,...,"San Jose,California,USA",USA,San Jose,California,30.0,30.0,2.0,1940s,79.0,Older adults (>64)
3,3,3,1710,21 days,3,5,1603,1710,5/15/2022 20:21,5/15/2022 20:27,...,"Edmonton,Alberta,CAN",CAN,Edmonton,Alberta,21.0,30.0,2.0,1940s,79.0,Older adults (>64)
4,4,4,7,30,4,6,5,7,4/22/2022 11:46,4/22/2022 11:53,...,"Seattle,Washington,USA",USA,Seattle,Washington,30.0,30.0,0.0,1940s,78.0,Older adults (>64)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,1816,1816,1967,30 days,1816,1818,1773,1967,5/16/2022 17:58,5/16/2022 18:03,...,"Napa,California,USA",USA,Napa,California,30.0,30.0,0.0,NaN,NaN,Older adults (>64)
1817,1817,1817,1981,10,1817,1819,1786,1981,6/1/2022 14:44,6/1/2022 14:51,...,"Santa Barbara,California,USA",USA,Santa Barbara,California,10.0,14.0,0.0,NaN,NaN,Older adults (>64)
1818,1818,1818,1990,6 Months.,1818,1820,1795,1990,6/2/2022 14:51,6/2/2022 14:56,...,"Santa Barbara,California,USA",USA,Santa Barbara,California,180.0,180.0,2.0,NaN,NaN,Older adults (>64)
1819,1819,1819,2021,NaN,1819,1821,1823,2021,5/24/2022 12:17,5/24/2022 12:20,...,"Calgary,Alberta,CAN",CAN,Calgary,Alberta,NaN,NaN,NaN,NaN,NaN,Older adults (>64)
1820,1820,1820,2022,Over 1 year,1820,1822,1824,2022,6/8/2022 3:19,6/8/2022 3:30,...,"San Francisco,California,USA",USA,San Francisco,California,365.0,730.0,1.0,NaN,NaN,Older adults (>64)

In [60]:
data_to_mfa = merge_q[list(predictors.keys())]
df = data_to_mfa[data_to_mfa.notna().all(axis=1)]

,Q13,Q14,Q15,Q18,Q28,Q29,age_groups,Q35,Q36,Q37,Q38,country
0,$1000-$1999,"Yes, with pedal-assist and throttle (motor act...",Road,No,2.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Woman,"Between $20,000 and $34,999 per year",One,"Graduated high school (i.e., High school diplo...",CAN
1,$2000-3999,"Yes, with pedal-assist and throttle (motor act...",Cruiser,No,0.0,"Equal mix of recreation, exercise, and transpo...",Older adults (>64),Man,"Between $20,000 and $34,999 per year",Three,Some university (no degree),USA
2,$2000-3999,​No,Road,No,2.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Man,"Between $100,000 and $149,999 per year",Two,"Graduate degree (e.g., Master’s, Professional ...",USA
3,$500-$999,​No,Hybrid/City/Dutch,No,2.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Woman,I prefer to not answer,One,"Graduate degree (e.g., Master’s, Professional ...",CAN
4,$1000-$1999,​No,Mountain,No,0.0,"Equal mix of recreation, exercise, and transpo...",Older adults (>64),Man,"Between $100,000 and $149,999 per year",Two,"Graduate degree (e.g., Master’s, Professional ...",USA
...,...,...,...,...,...,...,...,...,...,...,...,...
1742,$2000-3999,​No,Mountain,No,2.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Man,"$200,000 or more per year",Two,Bachelor’s degree (university 4-year degree) ...,USA
1745,$500-$999,​No,Cruiser,No,1.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Woman,I prefer to not answer,Zero,Bachelor’s degree (university 4-year degree) ...,USA
1746,$500-$999,​No,Hybrid/City/Dutch,No,2.0,"Equal mix of recreation, exercise, and transpo...",Older adults (>64),Woman,"$200,000 or more per year",One,Bachelor’s degree (university 4-year degree) ...,USA
1818,$500-$999,​No,Mountain,No,2.0,"Equal mix of recreation, exercise, and transpo...",Older adults (>64),Woman,"Under $20,000 per year",Two,"Graduate degree (e.g., Master’s, Professional ...",USA
1820,$2000-3999,​No,Road,No,1.0,"Recreation or exercise (e.g., cycling in your ...",Older adults (>64),Prefer not to say,I prefer to not answer,I prefer to not answer,"Graduate degree (e.g., Master’s, Professional ...",USA

In [61]:
reindex_dic={}
q13 = 'Q13'
df = DataFrame(merge_q[q13].unique()).dropna().sort_values(by=0, ascending=0).reset_index(drop=True)
reindex_dic[q13] = pd.concat([df.iloc[0], df.iloc[6], df.iloc[4], df.iloc[8], df.iloc[7], df.iloc[5],
                              df.iloc[1:4].sort_values(by=0, ascending=1)])[0].to_list()
reindex_dic[q13]

['Less than $250 ',
 '$250-$499 ',
 '$500-$999 ',
 '$1000-$1999 ',
 '$2000-3999      ',
 '$4000-6999       ',
 '$7000 or more ',
 'Don’t know/not sure ',
 'I prefer to not answer']

In [62]:
questions_to_analysis = ['Q13', 'Q14', 'Q15', 'Q18', 'Q24', 'Q25', 'Q26_new', 'Q28', 'Q29', 'Q30',
                         'Q31', 'age_groups', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'country', 'city']
special_reindex = ['Q13', 'Q15', 'Q30', 'Q31', 'Q36', 'Q37', 'Q38', 'Q39', 'city', 'age_groups']

# reindex general
reindex_dic = {val: DataFrame(merge_q[val].unique()).dropna().sort_values(by=0, ascending=1)[0].to_list() for val in
               questions_to_analysis if val not in special_reindex}

# reindex the options in q13
q13 = 'Q13'
df = DataFrame(merge_q[q13].unique()).dropna().sort_values(by=0, ascending=0).reset_index(drop=True)
reindex_dic[q13] = pd.concat([df.iloc[0], df.iloc[6], df.iloc[4], df.iloc[8], df.iloc[7], df.iloc[5],
                              df.iloc[1:4].sort_values(by=0, ascending=1)])[0].to_list()

# reindex the options in q15 - by frequency
q15 = 'Q15'
reindex_dic[q15] = merge_q.groupby(q15).count().sort_values(by='index', ascending=False).index.to_list()

# reindex the options in q30
q30 = 'Q30'
df = DataFrame(merge_q[q30].unique()).dropna().sort_values(by=0, ascending=1).reset_index(drop=True)
reindex_dic[q30] = pd.concat([df.iloc[:2], df.iloc[9:11], df.iloc[7:9], df.iloc[2:5], df.iloc[-1], df.iloc[5:7]])[
    0].to_list()

# reindex the options in q39 - by the
q31 = 'Q31'
df = DataFrame(merge_q[q31].unique()).dropna().sort_values(by=0, ascending=1)
reindex_dic[q31] = pd.concat([df.iloc[1:3], df.iloc[0], df.iloc[-1]])[0].to_list()

# reindex the options in q36
q36 = 'Q36'
df = DataFrame(merge_q[q36].unique()).dropna().sort_values(by=0, ascending=0)
temp_2 = df.iloc[3:7].sort_values(by=0, ascending=1)
temp_3 = df.iloc[7:9].sort_values(by=0, ascending=1)
reindex_dic[q36] = pd.concat([df.iloc[0], temp_2, temp_3, df.iloc[-1], df.iloc[1:3]])[0].to_list()

# reindex the options in q37
numbers = {
    "zero": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5
}


def def_reindex_q37(a):
    reindex_q37[numbers.get(a.split()[0].lower(), 6)] = a


q37 = 'Q37'
reindex_q37 = [0 for b in range(7)]
df = DataFrame(merge_q[q37].unique()).dropna().sort_values(by=0, ascending=0)
_ = df[0].apply(def_reindex_q37)
reindex_dic[q37] = reindex_q37

# reindex the options in q38
q38 = 'Q38'
df = DataFrame(merge_q[q38].unique()).dropna().sort_values(by=0, ascending=1)
reindex_dic[q38] = pd.concat([df.iloc[-2], df.iloc[3], df.iloc[-1], df.iloc[:3], df.iloc[4]])[0].to_list()

# reindex the options in q39 - by frequency
q39 = 'Q39'
reindex_dic[q39] = merge_q.groupby(q39).count().sort_values(by='index', ascending=False).index.to_list()

# reindex the options in age_groups
qage_groups = 'age_groups'
reindex_dic[qage_groups] = groups_name

NameError: name 'groups_name' is not defined

In [55]:
data_to_mfa.columns

Index(['Q13', 'Q14', 'Q15', 'Q18', 'Q28', 'Q29', 'age_groups', 'Q35', 'Q36',
       'Q37', 'Q38', 'country'],
      dtype='object')

In [53]:
col_names = list(data_to_mfa.columns)
groups = {
    'Block 1': col_names[:4]+ col_names[5:],
    'Block 2': col_names[4]
}

In [54]:

# Fit MFA model
mfa = prince.MFA(
    n_components=3,
    groups=groups,
    copy=True,
    check_input=True,
    engine='auto',
    random_state=42
)
mfa = mfa.fit(data_to_mfa)

KeyError: 'Q'

In [ ]:
mfa = MFA(n_components=2)
mfa = mfa.fit(X)

In [37]:
df = data_to_mca.fillna(data_to_mca.mean())
# Create an MCA object and fit it to the data
mca = prince.MCA(
    n_components=1, # Number of dimensions to keep
    copy=True, # Whether to make a copy of the data
    check_input=True, # Whether to check the input data for errors
    engine='auto', # Which engine to use (auto, fb, or sklearn)
    random_state=42 # Seed for the random number generator
)
mca = mca.fit(df)

# Get the row coordinates for each observation
row_coords = mca.transform(df)

# Print the first 5 rows of the row coordinates
# print(row_coords)

# Plot the row coordinates
print(mca.eigenvalues_)

[0.1963143299291211]

In [ ]:
print(mca.eigenvalues_)

mca.

In [ ]:
print(mfa.eigenvalues_)