In [1]:
from scipy.stats import chi2_contingency
import calendar
import numpy as np
months = list(map(lambda x: x.lower(), calendar.month_name))[1:]
import pandas as pd
from pandas import DataFrame


from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'

import matplotlib.pylab as pylab




params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 10),
          'axes.labelsize': 'x-large',
          'axes.titlesize': 'x-large',
          'xtick.labelsize': 'x-large',
          'ytick.labelsize': 'x-large'}
pylab.rcParams.update(params)

import os

project_folder = f'{os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))}/data/process'
import warnings

warnings.filterwarnings(action='ignore')

from IPython.core.display import display, HTML
# Set the display width to fit the entire notebook width
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.display import Markdown
from IPython.display import display_html
import scipy.stats as stats

predictors ={'Q13':'value_approx','Q14':'is_electric','Q15':'bicycle_type','Q18':'is_recover',  'Q28':'seasons', 'Q29':'purpose', 'age_groups': 'age_groups', 'Q35': 'gender', 'Q36': 'income','Q37':'nm_bikes', 'Q38': 'education','country':'country'}
dependent_vars = {'Q25':'is_replaced','Q30':'mode_alt', 'Q31':'post_act'}
all_vars = predictors.copy()
all_vars.update(dependent_vars)

<span style="color: red;font-size: 50px">RUN THE NEXT CELL FOR THE FIRST TIME ONLY</span>

In [17]:

# Change col names and leave only relevant cols as well as delete unnecessary spaces and parenthesis (except age group)
cols_names = list(all_vars.values())
data_init = pd.read_csv(f'{project_folder}/new_data/new_data_2.csv')
temp = data_init['age_groups']
d_analysis = data_init.rename(columns=all_vars)[cols_names].astype(str).replace(r"\(.*?\)", "").astype(str).replace(":", "").apply(lambda row: [d.split('(')[0].strip() if '(' in d else d.strip() for d in row])
d_analysis['age_groups'] = temp


# This method translate the alternative data into how much the alternative is sustainable
def sus_alter(row):
    alt_stat = ['active','not active']
    if row in  ['Walk','Cycle, personal bicycle','Cycle, rental bicycle','Cycle, public bike share','Micro mobility']:
        return alt_stat[0]
    elif row in ['Car, as a driver','Car, as a passenger','Taxi / Ride-hailing service','Transit','Motorcycle or scooter']:
        return alt_stat[1]
    else:
        return row

d_analysis['mode_alt'] = d_analysis['mode_alt'].apply(sus_alter)

d_analysis.to_csv(f'{project_folder}/new_data/new_data_3.csv')
merge_q =d_analysis

<span style="color: Orange;font-size: 50px">Always run the following cell</span>

In [2]:
# read data
merge_q = pd.read_csv(f'{project_folder}/new_data/new_data_3.csv')
# organize and populate @more_data  dictionary
more_data ={item:[list(DataFrame(merge_q[item].unique()).dropna()[0]),False] for  item in all_vars.values()}

# Code relevant for reindex
# Bicycle attributes
q= 'value_approx'
df_t = DataFrame(merge_q[q].unique()).dropna().sort_values(by=0, ascending=0).reset_index(drop=True)
more_data[q][0] = pd.concat([df_t.iloc[0], df_t.iloc[6], df_t.iloc[4], df_t.iloc[8], df_t.iloc[7], df_t.iloc[5], df_t.iloc[1:4].sort_values(by=0, ascending=1)])[0].to_list()

# Demographic
more_data['education'][0]= ['Some high school or less',
                            'Graduated high school',
                            'Some university',
                            'Associate’s/vocational/technical\u202fdegree',
                            'Bachelor’s degree',
                            'Graduate degree',
                            'I prefer to not answer',
 ]
q = 'age_groups'
more_data[q][0] = DataFrame(merge_q[q].unique()).dropna()[::-1][0].to_list()


more_data['seasons'][0] = range(3)
q= 'income'
df_t = DataFrame(merge_q[q].unique()).dropna().sort_values(by=0, ascending=0).reset_index(drop=True)
more_data[q][0]= pd.concat([df_t.iloc[0], df_t.iloc[6:2:-1], df_t.iloc[8:6:-1], df_t.iloc[9], df_t.iloc[1:3]])[0].to_list()
q = 'nm_bikes'
df_t = DataFrame(merge_q[q].unique()).dropna().sort_values(by=0, ascending=0).reset_index(drop=True)
more_data[q][0]= pd.concat([df_t.iloc[0], df_t.iloc[3], df_t.iloc[1:3], df_t.iloc[5:], df_t.iloc[4]])[0].to_list()

# for the dependent variable post_act:
more_data['post_act'][0]= ['I stopped cycling',
                            'Less often',
                            'About the same / no change',
                            'More often',
]
electric = merge_q['is_electric'].unique()
more_data['is_electric'][0]= [electric[1],electric[2], electric[0]]
# In case where only several cols are relevant
more_data['bicycle_type'][1]= ['Hybrid/City/Dutch','Mountain','Road','Gravel/cyclocross']

In [141]:
merge_q['is_electric'].unique()

array(['Yes, with pedal-assist and throttle', '\u200bNo',
       'Yes, with pedal-assist', nan], dtype=object)

In [143]:
more_data

{'value_approx': [['Less than $250',
   '$250-$499',
   '$500-$999',
   '$1000-$1999',
   '$2000-3999',
   '$4000-6999',
   '$7000 or more',
   'Don’t know/not sure',
   'I prefer to not answer'],
  False],
 'is_electric': [['\u200bNo',
   'Yes, with pedal-assist',
   'Yes, with pedal-assist and throttle'],
  False],
 'bicycle_type': [['Road',
   'Cruiser',
   'Hybrid/City/Dutch',
   'Mountain',
   'Folding',
   'Recumbent',
   'Gravel/cyclocross',
   'Don’t know/not sure',
   'Delivery/Cargo',
   'Tricycle or quadricycle',
   'BMX',
   'Fixed gear',
   'Tandem'],
  ['Hybrid/City/Dutch', 'Mountain', 'Road', 'Gravel/cyclocross']],
 'is_recover': [['No', 'Yes'], False],
 'seasons': [range(0, 3), False],
 'purpose': [['Recreation or exercise',
   'Equal mix of recreation, exercise, and transportation trips',
   'Transportation',
   'Don’t know/not sure'],
  False],
 'age_groups': [['Children (<13)',
   'Adolescents (13-17)',
   'Young adults (18-24)',
   'Adults (25-34)',
   'Adults (35-44)',
   'Adults (45-54)',
   'Adults (55-64)',
   'Older adults (>64)'],
  False],
 'gender': [['Woman', 'Man', 'Non-binary / third gender', 'Prefer not to say'],
  False],
 'income': [['Under $20,000 per year',
   'Between $20,000 and $34,999 per year',
   'Between $35,000 and $49,999 per year',
   'Between $50,000 and $74,999 per year',
   'Between $75,000 and $99,999 per year',
   'Between $100,000 and $149,999 per year',
   'Between $150,000 and $199,999 per year',
   '$200,000 or more per year',
   'I prefer to not answer',
   'Don’t know/not sure'],
  False],
 'nm_bikes': [['Zero',
   'One',
   'Two',
   'Three',
   'Four',
   'Five or more',
   'I prefer to not answer'],
  False],
 'education': [['Some high school or less',
   'Graduated high school',
   'Some university',
   'Associate’s/vocational/technical\u202fdegree',
   'Bachelor’s degree',
   'Graduate degree',
   'I prefer to not answer'],
  False],
 'country': [['CAN', 'USA'], False],
 'is_replaced': [['\u200bYes, and I replaced it with exactly what was stolen or something more expensive',
   'Yes, but the replacement was something cheaper',
   'No'],
  False],
 'mode_alt': [['Didn’t make those trips',
   'not active',
   'active',
   'Don’t know/not sure'],
  False],
 'post_act': [['I stopped cycling',
   'Less often',
   'About the same / no change',
   'More often'],
  False]}

<span style="color: blue;font-size: 50px">Find relationships between independent variables </span>

In [6]:
# dependents_list = ['value_approx','income','nm_bikes','age_groups','education','value_approx','is_electric','is_recover','seasons']
dependents_list = ['value_approx','income','nm_bikes','age_groups','education','is_electric','is_recover','seasons','post_act','mode_alt','is_replaced']
data_to_exp = merge_q[dependents_list].fillna(-1)

def to_ordinal(col):
    # This function gets a column and return for each value its ordinal values as it stored in @more_data (for irrelevant data return -1)
    return data_to_exp[col.name].apply(lambda x:more_data[col.name][0].index(x) if x not in ['I prefer to not answer','Don’t know/not sure',-1] else -1)
data_as_ordinal = data_to_exp.apply(to_ordinal)
data_as_ordinal

,value_approx,income,nm_bikes,age_groups,education,is_electric,is_recover,seasons,post_act,mode_alt,is_replaced
0,3,1,1,7,1,0,0,1,3,0,0
1,4,1,3,7,2,0,0,2,2,1,0
2,4,5,2,7,5,1,0,1,2,1,0
3,2,-1,1,7,5,1,0,1,2,2,0
4,3,5,2,7,5,1,0,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1816,4,-1,-1,7,-1,0,0,1,2,1,0
1817,1,-1,3,7,5,-1,0,2,1,1,1
1818,2,0,2,7,5,1,0,1,1,1,1
1819,4,-1,-1,7,-1,1,0,-1,-1,-1,2
1820,4,-1,-1,7,5,1,0,0,2,2,0

In [6]:

data_list = []
# The code test every pair of independent variables to find the direction of the correlation
for items in [(x, y) for i,x in enumerate(dependents_list) for y in dependents_list[i+1:]]:
    var_1, var_2 = items
    df = data_as_ordinal[[var_1, var_2 ]]
    couple_to_test = df[~(df== -1).any(axis=1)] # remove missing or irrelevant data
    correlation, p_value = stats.spearmanr(couple_to_test[var_1],couple_to_test[var_2]) # use spearman to test the data
    data_list.append([var_1,var_2,correlation, p_value])
sta_spearman_table = DataFrame(data_list,columns=['var_1','var_2','correlation', 'p_value']).sort_values('correlation',ascending=False)
sta_spearman_table

           var_1        var_2  correlation       p_value
17      nm_bikes      seasons     0.369462  6.018427e-54
1   value_approx     nm_bikes     0.299765  1.175538e-36
9         income    education     0.281990  2.410065e-29
7         income     nm_bikes     0.241739  8.763972e-22
13      nm_bikes   age_groups     0.233628  1.395895e-22
0   value_approx       income     0.218758  4.698700e-18
8         income   age_groups     0.212985  3.320104e-17
2   value_approx   age_groups     0.191486  1.932273e-16
16      nm_bikes   is_recover     0.180243  6.453031e-14
18    age_groups    education     0.145009  2.140645e-09
6   value_approx      seasons     0.128232  1.599639e-07
14      nm_bikes    education     0.114911  2.286376e-06
5   value_approx   is_recover     0.077730  9.339815e-04
10        income  is_electric     0.051212  4.750755e-02
4   value_approx  is_electric     0.048537  4.111782e-02
21    age_groups      seasons     0.044651  6.861533e-02
3   value_approx    education     0.041716  8.701408e-02
22     education  is_electric     0.038417  1.190055e-01
24     education      seasons     0.034911  1.606959e-01
12        income      seasons     0.032472  2.135571e-01
27    is_recover      seasons     0.021622  3.782118e-01
19    age_groups  is_electric     0.018275  4.412268e-01
26   is_electric      seasons     0.015869  5.227927e-01
15      nm_bikes  is_electric     0.004382  8.581898e-01
25   is_electric   is_recover     0.002649  9.112313e-01
20    age_groups   is_recover     0.000983  9.666079e-01
11        income   is_recover    -0.006848  7.886989e-01
23     education   is_recover    -0.026299  2.801940e-01

<span style="color: blue;font-size: 50px">####</span>

<span style="color: yellow;font-size: 50px">DT</span>

In [3]:
# Delete the Null rows
dt_df= merge_q.dropna().drop(columns='Unnamed: 0')
# From categories to values based on the order specified in @more_data var.
def to_ordinal_dt(col):
    # This function gets a column and return for each value its ordinal values as it stored in @more_data (for irrelevant data return -1)
    return dt_df[col.name].apply(lambda x:more_data[col.name][0].index(x) if x not in ['I prefer to not answer','Don’t know/not sure'] else -1 )
data_as_ordinal_dt_0 = dt_df.apply(to_ordinal_dt)
# Remove rows with 'I prefer to not answer' and 'Don’t know/not sure'
data_as_ordinal_dt =data_as_ordinal_dt_0[~(data_as_ordinal_dt_0 == -1).any(axis=1)]

data_as_ordinal_dt

,value_approx,is_electric,bicycle_type,is_recover,seasons,purpose,age_groups,gender,income,nm_bikes,education,country,is_replaced,mode_alt,post_act
0,3,2,0,0,1,0,7,0,1,1,1,0,0,0,3
1,4,2,1,0,2,1,7,1,1,3,2,1,0,1,2
2,4,0,0,0,1,0,7,1,5,2,5,1,0,1,2
4,3,0,3,0,2,1,7,1,5,2,5,1,0,2,2
5,3,0,0,0,2,0,7,1,3,2,5,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,2,0,2,0,1,1,7,1,3,0,2,1,2,1,1
1729,1,0,1,0,1,0,7,0,1,1,1,1,0,0,1
1742,4,0,3,0,1,0,7,1,7,2,4,1,0,0,1
1746,2,0,2,0,1,1,7,0,7,1,4,1,2,2,1
1818,2,0,3,0,1,1,7,0,0,2,5,1,1,1,1

In [10]:



def find_sample(x):
    """
    the code search for the leaf under the current node and then return one of its sample
    :param x:
    :return:
    """
    y = clf.tree_.children_right[x]
    if y == -1 & clf.tree_.children_left[x] == -1:
        return features[leaf_id == x][0]
    else:
        return find_sample(y)

In [11]:

def fill_path(row):
    # get all the nodes from for a certain path

    parents_node = []
    node_id  =int(row['node_id'])
    i = node_id
    while i != 0:
        parents_node.append(parent_nodes[i])
        i = parent_nodes[i]
    parents_node.reverse()
    # find one representative sample
    b = find_sample(node_id)
    path_node = []
    j = 0
    for i in parents_node:
        feat_i = clf.tree_.feature[i]
        feat = cols_dt[feat_i]
        threshold = clf.tree_.threshold[i]
        if b[feat_i] <= threshold:
            threshold_sign = "<="
        else:
            threshold_sign = ">"
        path_node.append(f'{j}:{feat} {threshold_sign} {threshold:.4f}')
        j += 1
    path_node.append(
        f'value:{(clf.tree_.value[node_id]/max_data*100).round(0)} samples:{clf.tree_.n_node_samples[node_id]}, impurity:{clf.tree_.impurity[node_id]:.3f}')
    paths_nodes[node_id] = path_node

In [13]:
from sklearn.tree import DecisionTreeClassifier
# Create a Decision Tree classifier for each the three questions which are around post activity
for p in range(-3,0):
    # For some dependent variables number of bike = 0 is not relevant
    if p==-3 or p==-1:
        data_as_ordinal_model = data_as_ordinal_dt[data_as_ordinal_dt['nm_bikes']>0]
    else:
        data_as_ordinal_model = data_as_ordinal_dt
    clf = DecisionTreeClassifier(max_depth=7)
    cols_dt = data_as_ordinal_model .columns
    col_name = cols_dt[p]
    print(col_name)
    print(more_data[col_name])
    features = data_as_ordinal_model [cols_dt[:-3]].to_numpy()
    labels = data_as_ordinal_model[col_name].to_numpy()
    # Build the classifier on the data
    _ =clf.fit(features, labels)

    # feature_importance (the results are not so encouraging)
    new_df = DataFrame(data={'feature_importance':clf.feature_importances_.round(3)*100,'features_name':cols_dt[:-3]}).sort_values('feature_importance',ascending=0)
    print(new_df)
    paths_nodes = {}
    max_data = clf.tree_.value[0]
    leaf_id = clf.apply(features)
    # Create a list so that each node has its parent id
    left_children = clf.tree_.children_left
    right_children = clf.tree_.children_right
    parent_nodes = [None] * clf.tree_.node_count

    for i in range(clf.tree_.node_count):
        if left_children[i] != -1:
            parent_nodes[left_children[i]] = i
        if right_children[i] != -1:
            parent_nodes[right_children[i]] = i

    # Get paths to nodes with at least x samples and square error less than y
    rel_nodes_list = {}
    node_count = clf.tree_.node_count
    for node_id in range(node_count):
        if clf.tree_.n_node_samples[node_id] >= 50 and clf.tree_.impurity[node_id] < 0.4 :
            rel_nodes_list[node_id] =[clf.tree_.value[node_id],clf.tree_.n_node_samples[node_id],clf.tree_.impurity[node_id]]

    # save the data into dateframe
    rel_nodes_list_df = DataFrame.from_dict(rel_nodes_list,orient = 'index' ,columns=['value','n_node_samples','impurity'])
    rel_nodes_list_df = rel_nodes_list_df.reset_index().rename(columns={'index': 'node_id'})
    _ = rel_nodes_list_df.apply(lambda x: fill_path(x),axis= 1)
    print(paths_nodes)

is_replaced
[['\u200bYes, and I replaced it with exactly what was stolen or something more expensive', 'Yes, but the replacement was something cheaper', 'No'], False]
    feature_importance features_name
3                 21.0    is_recover
8                 17.0        income
6                 11.7    age_groups
5                 10.0       purpose
10                 7.1     education
9                  6.7      nm_bikes
4                  6.1       seasons
7                  5.3        gender
2                  4.9  bicycle_type
0                  4.4  value_approx
1                  3.8   is_electric
11                 2.0       country
{19: ['0:is_recover <= 0.5000', '1:income <= 1.5000', '2:purpose > 0.5000', '3:is_electric <= 0.5000', 'value:[[ 3. 17.  0.]] samples:71, impurity:0.349'], 20: ['0:is_recover <= 0.5000', '1:income <= 1.5000', '2:purpose > 0.5000', '3:is_electric <= 0.5000', '4:nm_bikes <= 3.5000', 'value:[[ 2. 16.  0.]] samples:66, impurity:0.316']}
mode_alt
[['Didn’t make those trips', 'not active', 'active', 'Don’t know/not sure'], False]
    feature_importance features_name
4                 14.3       seasons
5                 14.2       purpose
0                 12.4  value_approx
9                 10.5      nm_bikes
6                 10.4    age_groups
8                  8.6        income
1                  7.9   is_electric
10                 5.5     education
2                  5.4  bicycle_type
3                  4.0    is_recover
11                 4.0       country
7                  2.8        gender
{75: ['0:seasons <= 1.5000', '1:purpose > 0.5000', '2:nm_bikes <= 2.5000', '3:age_groups > 2.5000', '4:country > 0.5000', '5:education <= 4.5000', 'value:[[ 2. 19.  6.]] samples:169, impurity:0.330'], 76: ['0:seasons <= 1.5000', '1:purpose > 0.5000', '2:nm_bikes <= 2.5000', '3:age_groups > 2.5000', '4:country > 0.5000', '5:education <= 4.5000', '6:value_approx <= 4.5000', 'value:[[ 2. 19.  5.]] samples:163, impurity:0.316']}
post_act
[['I stopped cycling', 'Less often', 'About the same / no change', 'More often'], False]
    feature_importance features_name
4                 25.6       seasons
9                 11.5      nm_bikes
0                 10.1  value_approx
8                 10.0        income
6                  9.8    age_groups
2                  9.7  bicycle_type
5                  5.5       purpose
10                 5.0     education
3                  3.5    is_recover
1                  3.4   is_electric
11                 3.2       country
7                  2.9        gender
{104: ['0:seasons > 1.5000', '1:is_recover <= 0.5000', '2:bicycle_type <= 7.0000', '3:gender > 0.5000', 'value:[[ 4.  8. 22. 10.]] samples:193, impurity:0.355'], 110: ['0:seasons > 1.5000', '1:is_recover <= 0.5000', '2:bicycle_type <= 7.0000', '3:gender > 0.5000', '4:value_approx > 0.5000', 'value:[[ 4.  7. 22. 10.]] samples:185, impurity:0.339'], 111: ['0:seasons > 1.5000', '1:is_recover <= 0.5000', '2:bicycle_type <= 7.0000', '3:gender > 0.5000', '4:value_approx > 0.5000', '5:age_groups <= 6.5000', 'value:[[ 4.  5. 20. 10.]] samples:164, impurity:0.317'], 113: ['0:seasons > 1.5000', '1:is_recover <= 0.5000', '2:bicycle_type <= 7.0000', '3:gender > 0.5000', '4:value_approx > 0.5000', '5:age_groups <= 6.5000', '6:education > 3.5000', 'value:[[ 4.  5. 17. 10.]] samples:144, impurity:0.353'], 138: ['0:seasons > 1.5000', '1:is_recover > 0.5000', 'value:[[0. 1. 8. 5.]] samples:60, impurity:0.213'], 146: ['0:seasons > 1.5000', '1:is_recover > 0.5000', '2:income > 1.5000', 'value:[[0. 0. 7. 3.]] samples:51, impurity:0.111']}

In [149]:
more_data

{'value_approx': [['Less than $250',
   '$250-$499',
   '$500-$999',
   '$1000-$1999',
   '$2000-3999',
   '$4000-6999',
   '$7000 or more',
   'Don’t know/not sure',
   'I prefer to not answer'],
  False],
 'is_electric': [['\u200bNo',
   'Yes, with pedal-assist',
   'Yes, with pedal-assist and throttle'],
  False],
 'bicycle_type': [['Road',
   'Cruiser',
   'Hybrid/City/Dutch',
   'Mountain',
   'Folding',
   'Recumbent',
   'Gravel/cyclocross',
   'Don’t know/not sure',
   'Delivery/Cargo',
   'Tricycle or quadricycle',
   'BMX',
   'Fixed gear',
   'Tandem'],
  ['Hybrid/City/Dutch', 'Mountain', 'Road', 'Gravel/cyclocross']],
 'is_recover': [['No', 'Yes'], False],
 'seasons': [range(0, 3), False],
 'purpose': [['Recreation or exercise',
   'Equal mix of recreation, exercise, and transportation trips',
   'Transportation',
   'Don’t know/not sure'],
  False],
 'age_groups': [['Children (<13)',
   'Adolescents (13-17)',
   'Young adults (18-24)',
   'Adults (25-34)',
   'Adults (35-44)',
   'Adults (45-54)',
   'Adults (55-64)',
   'Older adults (>64)'],
  False],
 'gender': [['Woman', 'Man', 'Non-binary / third gender', 'Prefer not to say'],
  False],
 'income': [['Under $20,000 per year',
   'Between $20,000 and $34,999 per year',
   'Between $35,000 and $49,999 per year',
   'Between $50,000 and $74,999 per year',
   'Between $75,000 and $99,999 per year',
   'Between $100,000 and $149,999 per year',
   'Between $150,000 and $199,999 per year',
   '$200,000 or more per year',
   'I prefer to not answer',
   'Don’t know/not sure'],
  False],
 'nm_bikes': [['Zero',
   'One',
   'Two',
   'Three',
   'Four',
   'Five or more',
   'I prefer to not answer'],
  False],
 'education': [['Some high school or less',
   'Graduated high school',
   'Some university',
   'Associate’s/vocational/technical\u202fdegree',
   'Bachelor’s degree',
   'Graduate degree',
   'I prefer to not answer'],
  False],
 'country': [['CAN', 'USA'], False],
 'is_replaced': [['\u200bYes, and I replaced it with exactly what was stolen or something more expensive',
   'Yes, but the replacement was something cheaper',
   'No'],
  False],
 'mode_alt': [['Didn’t make those trips',
   'not active',
   'active',
   'Don’t know/not sure'],
  False],
 'post_act': [['I stopped cycling',
   'Less often',
   'About the same / no change',
   'More often'],
  False]}

<span style="color:orange;font-size: 25px">LogisticRegression</span>

In [63]:
summary_df= []
cols_dt = data_as_ordinal_dt.columns
import statsmodels.api as sm
for p in range(-3,0):
    # For some dependent variables number of bike = 0 is not relevant
    if p==-2:
        data_as_ordinal_model = data_as_ordinal_dt
    else:
        data_as_ordinal_model = data_as_ordinal_dt[data_as_ordinal_dt['nm_bikes']>0]
    col_name = cols_dt[p]
    print(col_name)
    print(more_data[col_name])
    X = data_as_ordinal_model[cols_dt[:-3]]
    y = data_as_ordinal_model[col_name]
    print(y.value_counts())
    X = sm.add_constant(X)  # Add constant term
    model = sm.MNLogit(y, X)
    result = model.fit()
    # Print summary with p-values
    print(result.summary())
    print(result.summary2())
    # Convert the summary table to a pandas DataFrame
    summary_df.append(pd.read_html(result.summary().tables[1].as_html(), header=0, index_col=0)[0])
    summary_df.append(result.summary2().tables[1])


# Save the DataFrame to an Excel file
with pd.ExcelWriter('output_2/data_with_insight/my_insight/MNLogit.xlsx') as writer:
   _ =  [df.to_excel(writer, sheet_name=f'an_{n}') for n,df in enumerate(summary_df)]

is_replaced
[['\u200bYes, and I replaced it with exactly what was stolen or something more expensive', 'Yes, but the replacement was something cheaper', 'No'], False]
0    624
1    329
2    260
Name: is_replaced, dtype: int64
Optimization terminated successfully.
         Current function value: 0.915888
         Iterations 6
                          MNLogit Regression Results
==============================================================================
Dep. Variable:            is_replaced   No. Observations:                 1213
Model:                        MNLogit   Df Residuals:                     1187
Method:                           MLE   Df Model:                           24
Date:                Thu, 10 Aug 2023   Pseudo R-squ.:                  0.1073
Time:                        17:13:25   Log-Likelihood:                -1111.0
converged:                       True   LL-Null:                       -1244.5
Covariance Type:            nonrobust   LLR p-value:                 6.740e-43
=================================================================================
is_replaced=1       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             1.3507      0.424      3.188      0.001       0.520       2.181
value_approx     -0.0649      0.056     -1.158      0.247      -0.175       0.045
is_electric      -0.3755      0.163     -2.309      0.021      -0.694      -0.057
bicycle_type     -0.0383      0.032     -1.209      0.227      -0.100       0.024
is_recover       -0.4933      0.254     -1.943      0.052      -0.991       0.004
seasons          -0.2338      0.136     -1.716      0.086      -0.501       0.033
purpose           0.2457      0.094      2.601      0.009       0.061       0.431
age_groups       -0.0517      0.058     -0.898      0.369      -0.165       0.061
gender            0.0462      0.128      0.360      0.719      -0.205       0.298
income           -0.1856      0.037     -5.068      0.000      -0.257      -0.114
nm_bikes         -0.0314      0.062     -0.506      0.613      -0.153       0.090
education        -0.0829      0.066     -1.255      0.209      -0.212       0.047
country          -0.1572      0.189     -0.832      0.406      -0.528       0.213
---------------------------------------------------------------------------------
is_replaced=2       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.4265      0.478      0.892      0.372      -0.511       1.364
value_approx     -0.1391      0.063     -2.191      0.028      -0.264      -0.015
is_electric       0.2546      0.148      1.719      0.086      -0.036       0.545
bicycle_type      0.0346      0.034      1.019      0.308      -0.032       0.101
is_recover        1.9857      0.190     10.425      0.000       1.612       2.359
seasons          -0.6275      0.158     -3.972      0.000      -0.937      -0.318
purpose          -0.0625      0.107     -0.584      0.559      -0.272       0.147
age_groups       -0.0066      0.064     -0.103      0.918      -0.132       0.119
gender            0.3562      0.149      2.392      0.017       0.064       0.648
income           -0.0694      0.042     -1.644      0.100      -0.152       0.013
nm_bikes         -0.0579      0.070     -0.829      0.407      -0.195       0.079
education        -0.1436      0.075     -1.914      0.056      -0.291       0.003
country           0.0741      0.215      0.345      0.730      -0.347       0.495
=================================================================================
                        Results: MNLogit
=================================================================
Model:              MNLogit          Pseudo R-squared: 0.107
Dependent Variable: is_replaced      AIC:              2273.9445
Date:               2023-08-10 17:13 BIC:              2406.5666
No. Observations:   1213             Log-Likelihood:   -1111.0
Df Model:           24               LL-Null:          -1244.5
Df Residuals:       1187             LLR p-value:      6.7400e-43
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
---------------------------------------------------------------
is_replaced = 0  Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
---------------------------------------------------------------
        const    1.3507   0.4237  3.1879 0.0014  0.5203  2.1812
 value_approx   -0.0649   0.0561 -1.1584 0.2467 -0.1748  0.0449
  is_electric   -0.3755   0.1626 -2.3092 0.0209 -0.6942 -0.0568
 bicycle_type   -0.0383   0.0317 -1.2091 0.2266 -0.1003  0.0238
   is_recover   -0.4933   0.2539 -1.9429 0.0520 -0.9909  0.0043
      seasons   -0.2338   0.1362 -1.7164 0.0861 -0.5008  0.0332
      purpose    0.2457   0.0944  2.6009 0.0093  0.0605  0.4308
   age_groups   -0.0517   0.0576 -0.8984 0.3690 -0.1646  0.0611
       gender    0.0462   0.1284  0.3598 0.7190 -0.2054  0.2978
       income   -0.1856   0.0366 -5.0685 0.0000 -0.2574 -0.1138
     nm_bikes   -0.0314   0.0620 -0.5059 0.6129 -0.1529  0.0902
    education   -0.0829   0.0661 -1.2551 0.2094 -0.2124  0.0466
      country   -0.1572   0.1890 -0.8316 0.4056 -0.5277  0.2133
---------------------------------------------------------------
is_replaced = 1  Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
---------------------------------------------------------------
        const    0.4265   0.4781  0.8920 0.3724 -0.5106  1.3636
 value_approx   -0.1391   0.0635 -2.1915 0.0284 -0.2635 -0.0147
  is_electric    0.2546   0.1482  1.7187 0.0857 -0.0357  0.5450
 bicycle_type    0.0346   0.0340  1.0185 0.3084 -0.0320  0.1012
   is_recover    1.9857   0.1905 10.4252 0.0000  1.6123  2.3590
      seasons   -0.6275   0.1580 -3.9717 0.0001 -0.9371 -0.3178
      purpose   -0.0625   0.1070 -0.5839 0.5593 -0.2721  0.1472
   age_groups   -0.0066   0.0640 -0.1025 0.9183 -0.1321  0.1189
       gender    0.3562   0.1489  2.3921 0.0168  0.0643  0.6481
       income   -0.0694   0.0422 -1.6438 0.1002 -0.1522  0.0134
     nm_bikes   -0.0579   0.0699 -0.8286 0.4073 -0.1950  0.0791
    education   -0.1436   0.0750 -1.9136 0.0557 -0.2906  0.0035
      country    0.0741   0.2147  0.3453 0.7298 -0.3466  0.4949
=================================================================

mode_alt
[['Didn’t make those trips', 'not active', 'active', 'Don’t know/not sure'], False]
1    702
2    492
0    177
Name: mode_alt, dtype: int64
Optimization terminated successfully.
         Current function value: 0.875458
         Iterations 7
                          MNLogit Regression Results
==============================================================================
Dep. Variable:               mode_alt   No. Observations:                 1371
Model:                        MNLogit   Df Residuals:                     1345
Method:                           MLE   Df Model:                           24
Date:                Thu, 10 Aug 2023   Pseudo R-squ.:                  0.1019
Time:                        17:13:25   Log-Likelihood:                -1200.3
converged:                       True   LL-Null:                       -1336.4
Covariance Type:            nonrobust   LLR p-value:                 5.791e-44
================================================================================
  mode_alt=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            1.0335      0.544      1.900      0.057      -0.033       2.100
value_approx    -0.0037      0.066     -0.055      0.956      -0.134       0.126
is_electric      0.1228      0.218      0.563      0.573      -0.304       0.550
bicycle_type     0.0498      0.044      1.133      0.257      -0.036       0.136
is_recover       0.1279      0.271      0.473      0.636      -0.403       0.658
seasons         -0.3081      0.179     -1.723      0.085      -0.659       0.042
purpose          1.6477      0.176      9.336      0.000       1.302       1.994
age_groups       0.1082      0.072      1.506      0.132      -0.033       0.249
gender           0.0831      0.166      0.502      0.616      -0.242       0.408
income          -0.0442      0.050     -0.888      0.375      -0.142       0.053
nm_bikes        -0.0204      0.075     -0.272      0.786      -0.167       0.126
education       -0.1253      0.092     -1.363      0.173      -0.306       0.055
country         -0.1253      0.249     -0.503      0.615      -0.613       0.363
--------------------------------------------------------------------------------
  mode_alt=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.2432      0.569     -0.428      0.669      -1.357       0.871
value_approx    -0.0481      0.070     -0.689      0.491      -0.185       0.089
is_electric     -0.2146      0.233     -0.923      0.356      -0.670       0.241
bicycle_type     0.0398      0.046      0.875      0.382      -0.049       0.129
is_recover       0.6209      0.272      2.283      0.022       0.088       1.154
seasons          0.5418      0.187      2.903      0.004       0.176       0.908
purpose          1.5681      0.180      8.709      0.000       1.215       1.921
age_groups       0.1633      0.075      2.190      0.028       0.017       0.309
gender          -0.0228      0.173     -0.131      0.895      -0.363       0.317
income          -0.0796      0.052     -1.542      0.123      -0.181       0.022
nm_bikes         0.0235      0.077      0.304      0.761      -0.128       0.175
education       -0.0975      0.096     -1.018      0.309      -0.285       0.090
country         -0.2386      0.257     -0.928      0.353      -0.742       0.265
================================================================================
                        Results: MNLogit
=================================================================
Model:              MNLogit          Pseudo R-squared: 0.102
Dependent Variable: mode_alt         AIC:              2452.5070
Date:               2023-08-10 17:13 BIC:              2588.3127
No. Observations:   1371             Log-Likelihood:   -1200.3
Df Model:           24               LL-Null:          -1336.4
Df Residuals:       1345             LLR p-value:      5.7905e-44
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
mode_alt = 0   Coef.   Std.Err.     t     P>|t|    [0.025  0.975]
-----------------------------------------------------------------
       const   1.0335    0.5439   1.9001  0.0574  -0.0326  2.0996
value_approx  -0.0037    0.0664  -0.0555  0.9558  -0.1338  0.1264
 is_electric   0.1228    0.2179   0.5634  0.5731  -0.3043  0.5498
bicycle_type   0.0498    0.0440   1.1328  0.2573  -0.0364  0.1359
  is_recover   0.1279    0.2707   0.4727  0.6364  -0.4026  0.6584
     seasons  -0.3081    0.1788  -1.7227  0.0849  -0.6586  0.0424
     purpose   1.6477    0.1765   9.3358  0.0000   1.3018  1.9937
  age_groups   0.1082    0.0719   1.5057  0.1321  -0.0326  0.2490
      gender   0.0831    0.1658   0.5015  0.6160  -0.2418  0.4080
      income  -0.0442    0.0498  -0.8875  0.3748  -0.1418  0.0534
    nm_bikes  -0.0204    0.0749  -0.2722  0.7855  -0.1672  0.1264
   education  -0.1253    0.0919  -1.3627  0.1730  -0.3055  0.0549
     country  -0.1253    0.2489  -0.5031  0.6149  -0.6132  0.3627
-----------------------------------------------------------------
mode_alt = 1   Coef.   Std.Err.     t     P>|t|    [0.025  0.975]
-----------------------------------------------------------------
       const  -0.2432    0.5685  -0.4278  0.6688  -1.3575  0.8711
value_approx  -0.0481    0.0698  -0.6887  0.4910  -0.1849  0.0887
 is_electric  -0.2146    0.2325  -0.9229  0.3561  -0.6703  0.2411
bicycle_type   0.0398    0.0455   0.8751  0.3815  -0.0494  0.1291
  is_recover   0.6209    0.2720   2.2831  0.0224   0.0879  1.1539
     seasons   0.5418    0.1866   2.9030  0.0037   0.1760  0.9076
     purpose   1.5681    0.1801   8.7087  0.0000   1.2152  1.9210
  age_groups   0.1633    0.0746   2.1904  0.0285   0.0172  0.3095
      gender  -0.0228    0.1733  -0.1314  0.8955  -0.3625  0.3170
      income  -0.0796    0.0516  -1.5417  0.1231  -0.1809  0.0216
    nm_bikes   0.0235    0.0773   0.3039  0.7612  -0.1280  0.1750
   education  -0.0975    0.0958  -1.0181  0.3086  -0.2853  0.0902
     country  -0.2386    0.2570  -0.9282  0.3533  -0.7423  0.2652
=================================================================

post_act
[['I stopped cycling', 'Less often', 'About the same / no change', 'More often'], False]
2    680
1    376
3     86
0     71
Name: post_act, dtype: int64
Optimization terminated successfully.
         Current function value: 0.936397
         Iterations 7
                          MNLogit Regression Results
==============================================================================
Dep. Variable:               post_act   No. Observations:                 1213
Model:                        MNLogit   Df Residuals:                     1174
Method:                           MLE   Df Model:                           36
Date:                Thu, 10 Aug 2023   Pseudo R-squ.:                  0.1007
Time:                        17:13:25   Log-Likelihood:                -1135.8
converged:                       True   LL-Null:                       -1263.1
Covariance Type:            nonrobust   LLR p-value:                 1.098e-34
================================================================================
  post_act=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.6129      0.759     -0.807      0.420      -2.101       0.876
value_approx    -0.2321      0.108     -2.151      0.031      -0.444      -0.021
is_electric     -0.0665      0.255     -0.260      0.794      -0.567       0.434
bicycle_type    -0.0367      0.059     -0.619      0.536      -0.153       0.079
is_recover       0.7261      0.504      1.440      0.150      -0.262       1.714
seasons          1.2132      0.267      4.541      0.000       0.690       1.737
purpose          0.0236      0.179      0.132      0.895      -0.328       0.375
age_groups       0.2214      0.118      1.873      0.061      -0.010       0.453
gender          -0.0881      0.247     -0.356      0.722      -0.573       0.397
income           0.0815      0.067      1.215      0.224      -0.050       0.213
nm_bikes         0.2672      0.170      1.572      0.116      -0.066       0.600
education       -0.0070      0.118     -0.059      0.953      -0.239       0.225
country          0.3760      0.341      1.103      0.270      -0.292       1.044
--------------------------------------------------------------------------------
  post_act=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -2.4797      0.774     -3.202      0.001      -3.997      -0.962
value_approx    -0.2164      0.108     -2.005      0.045      -0.428      -0.005
is_electric     -0.2857      0.260     -1.098      0.272      -0.796       0.224
bicycle_type    -0.0647      0.060     -1.081      0.280      -0.182       0.053
is_recover       1.4617      0.498      2.937      0.003       0.486       2.437
seasons          2.2946      0.278      8.254      0.000       1.750       2.839
purpose         -0.0572      0.180     -0.318      0.751      -0.410       0.296
age_groups       0.1741      0.119      1.466      0.143      -0.059       0.407
gender           0.1922      0.248      0.775      0.439      -0.294       0.679
income           0.1425      0.068      2.101      0.036       0.010       0.275
nm_bikes         0.4867      0.168      2.894      0.004       0.157       0.816
education        0.1035      0.120      0.865      0.387      -0.131       0.338
country          0.3518      0.342      1.027      0.304      -0.319       1.023
--------------------------------------------------------------------------------
  post_act=3       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -1.9315      0.952     -2.028      0.043      -3.798      -0.065
value_approx    -0.3376      0.134     -2.527      0.012      -0.599      -0.076
is_electric      0.0905      0.319      0.284      0.777      -0.535       0.715
bicycle_type    -0.0692      0.074     -0.932      0.351      -0.215       0.076
is_recover       1.1065      0.567      1.950      0.051      -0.006       2.219
seasons          1.9741      0.341      5.794      0.000       1.306       2.642
purpose         -0.4374      0.226     -1.936      0.053      -0.880       0.005
age_groups       0.0065      0.144      0.045      0.964      -0.275       0.288
gender           0.2662      0.300      0.888      0.375      -0.321       0.854
income           0.0197      0.083      0.236      0.813      -0.144       0.183
nm_bikes         0.3297      0.192      1.716      0.086      -0.047       0.706
education        0.0816      0.149      0.548      0.584      -0.210       0.373
country          0.4525      0.438      1.032      0.302      -0.407       1.312
================================================================================
                        Results: MNLogit
=================================================================
Model:              MNLogit          Pseudo R-squared: 0.101
Dependent Variable: post_act         AIC:              2349.6995
Date:               2023-08-10 17:13 BIC:              2548.6327
No. Observations:   1213             Log-Likelihood:   -1135.8
Df Model:           36               LL-Null:          -1263.1
Df Residuals:       1174             LLR p-value:      1.0979e-34
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
   post_act = 0    Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
-----------------------------------------------------------------
       const      -0.6129   0.7594 -0.8071 0.4196 -2.1014  0.8755
value_approx      -0.2321   0.1079 -2.1511 0.0315 -0.4435 -0.0206
 is_electric      -0.0665   0.2554 -0.2605 0.7945 -0.5671  0.4340
bicycle_type      -0.0367   0.0592 -0.6192 0.5358 -0.1528  0.0794
  is_recover       0.7261   0.5041  1.4404 0.1498 -0.2619  1.7141
     seasons       1.2132   0.2672  4.5407 0.0000  0.6895  1.7369
     purpose       0.0236   0.1791  0.1315 0.8953 -0.3276  0.3747
  age_groups       0.2214   0.1183  1.8726 0.0611 -0.0103  0.4532
      gender      -0.0881   0.2473 -0.3562 0.7217 -0.5728  0.3966
      income       0.0815   0.0671  1.2153 0.2242 -0.0499  0.2129
    nm_bikes       0.2672   0.1700  1.5721 0.1159 -0.0659  0.6003
   education      -0.0070   0.1182 -0.0588 0.9531 -0.2387  0.2248
     country       0.3760   0.3410  1.1025 0.2702 -0.2924  1.0444
-----------------------------------------------------------------
   post_act = 1    Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
-----------------------------------------------------------------
       const      -2.4797   0.7744 -3.2022 0.0014 -3.9975 -0.9620
value_approx      -0.2164   0.1079 -2.0046 0.0450 -0.4279 -0.0048
 is_electric      -0.2857   0.2601 -1.0982 0.2721 -0.7955  0.2242
bicycle_type      -0.0647   0.0599 -1.0813 0.2796 -0.1821  0.0526
  is_recover       1.4617   0.4977  2.9370 0.0033  0.4863  2.4372
     seasons       2.2946   0.2780  8.2544 0.0000  1.7498  2.8394
     purpose      -0.0572   0.1801 -0.3175 0.7509 -0.4101  0.2957

In [61]:
summary_df

[                  coef  std err       z  P>|z|  [0.025  0.975]
 is_replaced=1
 const           1.3507    0.424   3.188  0.001   0.520   2.181
 value_approx   -0.0649    0.056  -1.158  0.247  -0.175   0.045
 is_electric    -0.3755    0.163  -2.309  0.021  -0.694  -0.057
 bicycle_type   -0.0383    0.032  -1.209  0.227  -0.100   0.024
 is_recover     -0.4933    0.254  -1.943  0.052  -0.991   0.004
 seasons        -0.2338    0.136  -1.716  0.086  -0.501   0.033
 purpose         0.2457    0.094   2.601  0.009   0.061   0.431
 age_groups     -0.0517    0.058  -0.898  0.369  -0.165   0.061
 gender          0.0462    0.128   0.360  0.719  -0.205   0.298
 income         -0.1856    0.037  -5.068  0.000  -0.257  -0.114
 nm_bikes       -0.0314    0.062  -0.506  0.613  -0.153   0.090
 education      -0.0829    0.066  -1.255  0.209  -0.212   0.047
 country        -0.1572    0.189  -0.832  0.406  -0.528   0.213
 is_replaced=2     coef  std err       z  P>|z|  [0.025  0.975]
 const           0.4265    0.478   0.892  0.372  -0.511   1.364
 value_approx   -0.1391    0.063  -2.191  0.028  -0.264  -0.015
 is_electric     0.2546    0.148   1.719  0.086  -0.036   0.545
 bicycle_type    0.0346    0.034   1.019  0.308  -0.032   0.101
 is_recover      1.9857    0.190  10.425  0.000   1.612   2.359
 seasons        -0.6275    0.158  -3.972  0.000  -0.937  -0.318
 purpose        -0.0625    0.107  -0.584  0.559  -0.272   0.147
 age_groups     -0.0066    0.064  -0.103  0.918  -0.132   0.119
 gender          0.3562    0.149   2.392  0.017   0.064   0.648
 income         -0.0694    0.042  -1.644  0.100  -0.152   0.013
 nm_bikes       -0.0579    0.070  -0.829  0.407  -0.195   0.079
 education      -0.1436    0.075  -1.914  0.056  -0.291   0.003
 country         0.0741    0.215   0.345  0.730  -0.347   0.495,
              is_replaced = 0     Coef.  Std.Err.         t         P>|t|  \
 const                  const  1.350722  0.423701  3.187909  1.433054e-03
 value_approx    value_approx -0.064938  0.056059 -1.158387  2.467062e-01
 is_electric      is_electric -0.375494  0.162606 -2.309224  2.093117e-02
 bicycle_type    bicycle_type -0.038271  0.031653 -1.209096  2.266259e-01
 is_recover        is_recover -0.493277  0.253893 -1.942853  5.203388e-02
 seasons              seasons -0.233789  0.136210 -1.716390  8.609074e-02
 purpose              purpose  0.245656  0.094449  2.600938  9.296921e-03
 age_groups        age_groups -0.051730  0.057578 -0.898433  3.689549e-01
 gender                gender  0.046183  0.128355  0.359804  7.189934e-01
 income                income -0.185628  0.036624 -5.068488  4.009888e-07
 nm_bikes            nm_bikes -0.031367  0.062003 -0.505893  6.129318e-01
 education          education -0.082906  0.066054 -1.255116  2.094367e-01
 country              country -0.157200  0.189025 -0.831636  4.056147e-01

                 [0.025    0.975]
 const         0.520282  2.181161
 value_approx -0.174811  0.044935
 is_electric  -0.694196 -0.056792
 bicycle_type -0.100310  0.023767
 is_recover   -0.990899  0.004344
 seasons      -0.500756  0.033177
 purpose       0.060539  0.430773
 age_groups   -0.164580  0.061120
 gender       -0.205388  0.297754
 income       -0.257410 -0.113846
 nm_bikes     -0.152890  0.090156
 education    -0.212370  0.046558
 country      -0.527683  0.213283  ,
                  coef  std err       z  P>|z|  [0.025  0.975]
 mode_alt=1
 const          1.0335    0.544   1.900  0.057  -0.033   2.100
 value_approx  -0.0037    0.066  -0.055  0.956  -0.134   0.126
 is_electric    0.1228    0.218   0.563  0.573  -0.304   0.550
 bicycle_type   0.0498    0.044   1.133  0.257  -0.036   0.136
 is_recover     0.1279    0.271   0.473  0.636  -0.403   0.658
 seasons       -0.3081    0.179  -1.723  0.085  -0.659   0.042
 purpose        1.6477    0.176   9.336  0.000   1.302   1.994
 age_groups     0.1082    0.072   1.506  0.132  -0.033   0.249
 gender         0.0831    0.166   0.502  0.616  -0.242   0.408
 income        -0.0442    0.050  -0.888  0.375  -0.142   0.053
 nm_bikes      -0.0204    0.075  -0.272  0.786  -0.167   0.126
 education     -0.1253    0.092  -1.363  0.173  -0.306   0.055
 country       -0.1253    0.249  -0.503  0.615  -0.613   0.363
 mode_alt=2       coef  std err       z  P>|z|  [0.025  0.975]
 const         -0.2432    0.569  -0.428  0.669  -1.357   0.871
 value_approx  -0.0481    0.070  -0.689  0.491  -0.185   0.089
 is_electric   -0.2146    0.233  -0.923  0.356  -0.670   0.241
 bicycle_type   0.0398    0.046   0.875  0.382  -0.049   0.129
 is_recover     0.6209    0.272   2.283  0.022   0.088   1.154
 seasons        0.5418    0.187   2.903  0.004   0.176   0.908
 purpose        1.5681    0.180   8.709  0.000   1.215   1.921
 age_groups     0.1633    0.075   2.190  0.028   0.017   0.309
 gender        -0.0228    0.173  -0.131  0.895  -0.363   0.317
 income        -0.0796    0.052  -1.542  0.123  -0.181   0.022
 nm_bikes       0.0235    0.077   0.304  0.761  -0.128   0.175
 education     -0.0975    0.096  -1.018  0.309  -0.285   0.090
 country       -0.2386    0.257  -0.928  0.353  -0.742   0.265,
               mode_alt = 0     Coef.  Std.Err.         t         P>|t|  \
 const                const  1.033505  0.543925  1.900089  5.742146e-02
 value_approx  value_approx -0.003684  0.066386 -0.055487  9.557506e-01
 is_electric    is_electric  0.122753  0.217864  0.563438  5.731369e-01
 bicycle_type  bicycle_type  0.049788  0.043953  1.132757  2.573161e-01
 is_recover      is_recover  0.127939  0.270664  0.472686  6.364371e-01
 seasons            seasons -0.308107  0.178847 -1.722743  8.493503e-02
 purpose            purpose  1.647750  0.176498  9.335779  1.002516e-20
 age_groups      age_groups  0.108201  0.071861  1.505686  1.321479e-01
 gender              gender  0.083128  0.165757  0.501506  6.160153e-01
 income              income -0.044213  0.049815 -0.887542  3.747870e-01
 nm_bikes          nm_bikes -0.020386  0.074905 -0.272153  7.855047e-01
 education        education -0.125299  0.091947 -1.362734  1.729664e-01
 country            country -0.125254  0.248945 -0.503141  6.148654e-01

                 [0.025    0.975]
 const        -0.032568  2.099578
 value_approx -0.133798  0.126431
 is_electric  -0.304252  0.549757
 bicycle_type -0.036358  0.135935
 is_recover   -0.402553  0.658432
 seasons      -0.658640  0.042426
 purpose       1.301819  1.993680
 age_groups   -0.032645  0.249046
 gender       -0.241750  0.408007
 income       -0.141850  0.053423
 nm_bikes     -0.167196  0.126425
 education    -0.305511  0.054913
 country      -0.613177  0.362668  ,
                  coef  std err       z  P>|z|  [0.025  0.975]
 post_act=1
 const         -0.6129    0.759  -0.807  0.420  -2.101   0.876
 value_approx  -0.2321    0.108  -2.151  0.031  -0.444  -0.021
 is_electric   -0.0665    0.255  -0.260  0.794  -0.567   0.434
 bicycle_type  -0.0367    0.059  -0.619  0.536  -0.153   0.079
 is_recover     0.7261    0.504   1.440  0.150  -0.262   1.714
 seasons        1.2132    0.267   4.541  0.000   0.690   1.737
 purpose        0.0236    0.179   0.132  0.895  -0.328   0.375
 age_groups     0.2214    0.118   1.873  0.061  -0.010   0.453
 gender        -0.0881    0.247  -0.356  0.722  -0.573   0.397
 income         0.0815    0.067   1.215  0.224  -0.050   0.213
 nm_bikes       0.2672    0.170   1.572  0.116  -0.066   0.600
 education     -0.0070    0.118  -0.059  0.953  -0.239   0.225
 country        0.3760    0.341   1.103  0.270  -0.292   1.044
 post_act=2       coef  std err       z  P>|z|  [0.025  0.975]
 const         -2.4797    0.774  -3.202  0.001  -3.997  -0.962
 value_approx  -0.2164    0.108  -2.005  0.045  -0.428  -0.005
 is_electric   -0.2857    0.260  -1.098  0.272  -0.796   0.224
 bicycle_type  -0.0647    0.060  -1.081  0.280  -0.182   0.053
 is_recover     1.4617    0.498   2.937  0.003   0.486   2.437
 seasons        2.2946    0.278   8.254  0.000   1.750   2.839
 purpose       -0.0572    0.180  -0.318  0.751  -0.410   0.296
 age_groups     0.1741    0.119   1.466  0.143  -0.059   0.407
 gender         0.1922    0.248   0.775  0.439  -0.294   0.679
 income         0.1425    0.068   2.101  0.036   0.010   0.275
 nm_bikes       0.4867    0.168   2.894  0.004   0.157   0.816
 education      0.1035    0.120   0.865  0.387  -0.131   0.338
 country        0.3518    0.342   1.027  0.304  -0.319   1.023
 post_act=3       coef  std err       z  P>|z|  [0.025  0.975]
 const         -1.9315    0.952  -2.028  0.043  -3.798  -0.065
 value_approx  -0.3376    0.134  -2.527  0.012  -0.599  -0.076
 is_electric    0.0905    0.319   0.284  0.777  -0.535   0.715
 bicycle_type  -0.0692    0.074  -0.932  0.351  -0.215   0.076
 is_recover     1.1065    0.567   1.950  0.051  -0.006   2.219
 seasons        1.9741    0.341   5.794  0.000   1.306   2.642
 purpose       -0.4374    0.226  -1.936  0.053  -0.880   0.005
 age_groups     0.0065    0.144   0.045  0.964  -0.275   0.288
 gender         0.2662    0.300   0.888  0.375  -0.321   0.854
 income         0.0197    0.083   0.236  0.813  -0.144   0.183
 nm_bikes       0.3297    0.192   1.716  0.086  -0.047   0.706
 education      0.0816    0.149   0.548  0.584  -0.210   0.373
 country        0.4525    0.438   1.032  0.302  -0.407   1.312,
               post_act = 0     Coef.  Std.Err.         t     P>|t|    [0.025  \
 const                const -0.612931  0.759439 -0.807084  0.419618 -2.101404
 value_approx  value_approx -0.232061  0.107880 -2.151101  0.031468 -0.443502
 is_electric    is_electric -0.066523  0.255393 -0.260473  0.794499 -0.567084
 bicycle_type  bicycle_type -0.036683  0.059240 -0.619235  0.535762 -0.152792
 is_recover      is_recover  0.726099  0.504110  1.440358  0.149766 -0.261939
 seasons            seasons  1.213232  0.267193  4.540654  0.000006  0.689543
 purpose            purpose  0.023565  0.179146  0.131539  0.895349 -0.327555
 age_groups      age_groups  0.221438  0.118251  1.872616  0.061121 -0.010329
 gender              gender -0.088101  0.247300 -0.356249  0.721654 -0.572800
 income              income  0.081500  0.067059  1.215346  0.224234 -0.049934
 nm_bikes          nm_bikes  0.267187  0.169951  1.572140  0.115918 -0.065911
 education        education -0.006954  0.118248 -0.058808  0.953105 -0.238716
 country            country  0.376015  0.341042  1.102547  0.270224 -0.292415

                 0.975]
 const         0.875542
 value_approx -0.020620
 is_electric   0.434039
 bicycle_type  0.079425
 is_recover    1.714137
 seasons       1.736921
 purpose       0.374684
 age_groups    0.453205
 gender        0.396599
 income        0.212934
 nm_bikes      0.600284
 education     0.224808
 country       1.044445  ]

In [59]:
result.summary2().tables[1]

,post_act = 0,Coef.,Std.Err.,t,P>|t|,[0.025,0.975]
const,const,-0.612931,0.759439,-0.807084,0.419618,-2.101404,0.875542
value_approx,value_approx,-0.232061,0.107880,-2.151101,0.031468,-0.443502,-0.020620
is_electric,is_electric,-0.066523,0.255393,-0.260473,0.794499,-0.567084,0.434039
bicycle_type,bicycle_type,-0.036683,0.059240,-0.619235,0.535762,-0.152792,0.079425
is_recover,is_recover,0.726099,0.504110,1.440358,0.149766,-0.261939,1.714137
seasons,seasons,1.213232,0.267193,4.540654,0.000006,0.689543,1.736921
purpose,purpose,0.023565,0.179146,0.131539,0.895349,-0.327555,0.374684
age_groups,age_groups,0.221438,0.118251,1.872616,0.061121,-0.010329,0.453205
gender,gender,-0.088101,0.247300,-0.356249,0.721654,-0.572800,0.396599
income,income,0.081500,0.067059,1.215346,0.224234,-0.049934,0.212934
nm_bikes,nm_bikes,0.267187,0.169951,1.572140,0.115918,-0.065911,0.600284
education,education,-0.006954,0.118248,-0.058808,0.953105,-0.238716,0.224808
country,country,0.376015,0.341042,1.102547,0.270224,-0.292415,1.044445

In [28]:
p=-3
if p==-3 or p==-1:
    data_as_ordinal_model = data_as_ordinal_dt[data_as_ordinal_dt['nm_bikes']>0]
else:
    data_as_ordinal_model = data_as_ordinal_dt
col_name = cols_dt[p]
print(col_name)
print(more_data[col_name])
X = data_as_ordinal_model[cols_dt[:-3]]
data_as_ordinal_model['Outcome'] = pd.Categorical( data_as_ordinal_model[col_name], categories=[0, 1, 2], ordered=True)
data_as_ordinal_model

is_replaced
[['\u200bYes, and I replaced it with exactly what was stolen or something more expensive', 'Yes, but the replacement was something cheaper', 'No'], False]

,value_approx,is_electric,bicycle_type,is_recover,seasons,purpose,age_groups,gender,income,nm_bikes,education,country,is_replaced,mode_alt,post_act,Outcome
0,3,2,0,0,1,0,7,0,1,1,1,0,0,0,3,0
1,4,2,1,0,2,1,7,1,1,3,2,1,0,1,2,0
2,4,0,0,0,1,0,7,1,5,2,5,1,0,1,2,0
4,3,0,3,0,2,1,7,1,5,2,5,1,0,2,2,0
5,3,0,0,0,2,0,7,1,3,2,5,1,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,4,0,3,0,1,0,7,0,4,1,2,0,1,1,1,1
1729,1,0,1,0,1,0,7,0,1,1,1,1,0,0,1,0
1742,4,0,3,0,1,0,7,1,7,2,4,1,0,0,1,0
1746,2,0,2,0,1,1,7,0,7,1,4,1,2,2,1,2
1818,2,0,3,0,1,1,7,0,0,2,5,1,1,1,1,1

In [32]:

y = data_as_ordinal_model['Outcome']
print(y.value_counts())
X = sm.add_constant(X)  # Add constant term
model = sm.MNLogit(data_as_ordinal_model['Outcome'].codes, X)
result = model.fit()
# Print summary with p-values
print(result.summary())

0    624
1    329
2    260
Name: Outcome, dtype: int64

AttributeError: 'Series' object has no attribute 'codes'

In [22]:
result.params

                     0         1
const         1.296607  1.902447
value_approx -0.070270 -0.076478
is_electric  -0.361772  0.056081
bicycle_type -0.033148  0.039984
is_recover   -0.464188  1.853378
seasons      -0.191874 -0.819506
purpose       0.227609 -0.059484
age_groups   -0.065547  0.001629
gender        0.056430  0.343012
income       -0.186227 -0.096847
nm_bikes     -0.008480 -0.525533
education    -0.076637 -0.131544
country      -0.147863 -0.003957

In [ ]:

data_as_ordinal_model['is_replaced']

<span style="color:orange;font-size:25px">###</span>

<span style="color: green;font-size: 50px">More Classification</span>

In [34]:
# Read the social economic columns data
ses_list = ['value_approx','income','nm_bikes','education']
ses = data_as_ordinal[ses_list]
# remove every row with null (-1)
ses_final = ses[~ses.isin([-1]).any(axis=1)]

In [36]:
from sklearn.cluster import AgglomerativeClustering
n=3
my_class = 'class'
cluster = AgglomerativeClustering(n_clusters=n)
ses_final[my_class] = cluster.fit_predict(ses_final.to_numpy())
for x in range(n):
    class_data = ses_final[ses_final[my_class] == x]
    # show the mean for each group and for each season
    class_data.describe()

       value_approx      income    nm_bikes   education  class
count    741.000000  741.000000  741.000000  741.000000  741.0
mean       3.302294    5.987854    2.272605    4.522267    0.0
std        1.442729    1.082346    1.510743    0.575259    0.0
min        0.000000    3.000000    0.000000    2.000000    0.0
25%        2.000000    5.000000    1.000000    4.000000    0.0
50%        3.000000    6.000000    2.000000    5.000000    0.0
75%        4.000000    7.000000    3.000000    5.000000    0.0
max        6.000000    7.000000    5.000000    5.000000    0.0

       value_approx      income    nm_bikes   education  class
count    585.000000  585.000000  585.000000  585.000000  585.0
mean       2.420513    3.647863    1.664957    3.695726    1.0
std        1.360244    1.323820    1.262154    1.340772    0.0
min        0.000000    0.000000    0.000000    0.000000    1.0
25%        1.000000    3.000000    1.000000    3.000000    1.0
50%        2.000000    4.000000    1.000000    4.000000    1.0
75%        3.000000    4.000000    2.000000    5.000000    1.0
max        6.000000    7.000000    5.000000    5.000000    1.0

       value_approx      income    nm_bikes   education  class
count    196.000000  196.000000  196.000000  196.000000  196.0
mean       2.025510    0.795918    0.979592    3.443878    2.0
std        1.029992    0.729723    0.671464    1.359454    0.0
min        0.000000    0.000000    0.000000    0.000000    2.0
25%        1.000000    0.000000    1.000000    3.000000    2.0
50%        2.000000    1.000000    1.000000    4.000000    2.0
75%        3.000000    1.000000    1.000000    4.000000    2.0
max        5.000000    2.000000    3.000000    5.000000    2.0

In [41]:
my_info = class_data.describe()
my_mean = my_info.loc['mean']
my_std = my_info.loc['std']
my_min = my_mean- my_std
my_max= my_mean+ my_std

value_approx    3.055503
income          1.525642
nm_bikes        1.651055
education       4.803332
class           2.000000
dtype: float64

In [38]:
more_data['education']

[['Some high school or less',
  'Graduated high school',
  'Some university',
  'Associate’s/vocational/technical\u202fdegree',
  'Bachelor’s degree',
  'Graduate degree',
  'I prefer to not answer'],
 False]

<span style="color: green;font-size: 50px">####</span>

In [8]:

class MyData:
    """
   The class organizes and explores the data, allowing for the creation of cross-tabulations.
    """
    def __init__(self, var_0, data, com_data):
        """

        :param var_0: The main variable that should not be replaced frequently throughout the program.
        :param data: Data frame
        :param com_data: provides more information when necessary to create more adaptable analysis
        """
        self.cols_name = [var_0,'']
        self.merge_q= data
        self.more_data = com_data
        self.reindex_rows = self.more_data[var_0][0]

    def explore_data(self,cross_tab= True):
        r"""
        Clean the data and print cross_tab if it is required
        :param cross_tab:
        :return:
        """
        # Based on these variables, the analysis can be employed.
        cross_cols_nm =self.cols_name
        cls_to_use = self.more_data[cross_cols_nm[1]][1]
        reindex_temp = self.more_data[cross_cols_nm[1]][0]
        only_rel_f= self.merge_q[cross_cols_nm].dropna()
        if cross_tab:
            if cls_to_use:
                only_rel_f = only_rel_f[only_rel_f[cross_cols_nm[1]].isin(cls_to_use)]
            # For ordinal categories, reindexing the columns is essential to align them in the required order.
            return only_rel_f[cross_cols_nm[1]].value_counts().reindex(reindex_temp), (pd.crosstab(only_rel_f[cross_cols_nm[0]], only_rel_f[cross_cols_nm[1]], normalize='columns') * 100).astype(int).reindex(columns=reindex_temp,index= self.reindex_rows)
        return only_rel_f

    def change_properties(self,name):
        """
        change the dependent variable and update desired reindex list
        :param name:
        :return:
        """
        self.cols_name[0] = name
        self.reindex_rows = self.more_data[name][0]
        sumy =my_data.merge_q[name].value_counts().sum()
        print((my_data.merge_q[name].value_counts()/sumy*100).apply('{:.0f}%'.format))

In [13]:

dependent_names = list(dependent_vars.values())+['value_approx','income','nm_bikes','age_groups','education','seasons','is_electric','purpose']
predictors_names = list(predictors.values())
my_data = MyData(dependent_names[0],merge_q,more_data)
for dep in dependent_names:
    print(f'\n{dep}\n')
    writer = pd.ExcelWriter(f'output_2/data_with_insight/{dep}.xlsx')
    my_data.change_properties(dep)
    for pre in predictors_names+dependent_names:
        # relevant when we analysis the relationship between dependent_vars
        if pre==dep:
            continue
        my_data.cols_name[1] = pre
        value_counts,cross_tab = my_data.explore_data()
        value_counts.to_excel(writer, sheet_name=pre)
        cross_tab.to_excel(writer, sheet_name=pre, startrow=value_counts.shape[0] + 2)
    writer.save()

is_replaced

​Yes, and I replaced it with exactly what was stolen or something more expensive    46%
No                                                                                  31%
Yes, but the replacement was something cheaper                                      24%
Name: is_replaced, dtype: object

mode_alt

not active                 50%
active                     36%
Didn’t make those trips    13%
Don’t know/not sure         2%
Name: mode_alt, dtype: object

post_act

About the same / no change    49%
Less often                    30%
I stopped cycling             15%
More often                     6%
Name: post_act, dtype: object

value_approx

$500-$999                 29%
$1000-$1999               24%
$2000-3999                16%
$250-$499                 13%
$4000-6999                 8%
$7000 or more              5%
Less than $250             4%
Don’t know/not sure        0%
I prefer to not answer     0%
Name: value_approx, dtype: object

income

$200,000 or more per year                 21%
Between $100,000 and $149,999 per year    16%
Between $75,000 and $99,999 per year      14%
Between $50,000 and $74,999 per year      13%
Between $150,000 and $199,999 per year    10%
I prefer to not answer                     9%
Between $20,000 and $34,999 per year       6%
Between $35,000 and $49,999 per year       5%
Under $20,000 per year                     5%
Don’t know/not sure                        1%
Name: income, dtype: object

nm_bikes

One                       37%
Two                       24%
Zero                      12%
Three                     12%
Five or more               8%
Four                       6%
I prefer to not answer     1%
Name: nm_bikes, dtype: object

age_groups

Adults (25-34)          27%
Adults (35-44)          25%
Adults (45-54)          17%
Older adults (>64)      15%
Adults (55-64)          10%
Young adults (18-24)     5%
Adolescents (13-17)      1%
Children (<13)           0%
Name: age_groups, dtype: object

education

Graduate degree                            41%
Bachelor’s degree                          39%
Some university                             7%
Associate’s/vocational/technical degree     6%
Graduated high school                       3%
Some high school or less                    2%
I prefer to not answer                      2%
Name: education, dtype: object

seasons

1.0    61%
2.0    27%
0.0    12%
Name: seasons, dtype: object

is_electric

​No                                    88%
Yes, with pedal-assist and throttle     7%
Yes, with pedal-assist                  5%
Name: is_electric, dtype: object

purpose

Recreation or exercise                                         42%
Transportation                                                 31%
Equal mix of recreation, exercise, and transportation trips    26%
Don’t know/not sure                                             1%
Name: purpose, dtype: object

<span style="color: purple;font-size: 50px">Phase 4: Apply Chi-Square Test</span>

In [3]:
#region
cols_to_delete = ['I prefer to not answer', 'Don’t know/not sure']
pre_test_data = pd.read_csv(f'{project_folder}/new_data/new_data_3.csv').fillna(-1)[list(all_vars.values())].applymap(lambda x: -1 if x in cols_to_delete + [-1] else x)
data_path = 'output_2/data_with_insight'
class MyTests:
    def __init__(self, col_1:str, col_2:str, rel_data:tuple):
        print(f'\n{col_1}::{col_2}')
        self.col_1 = col_1
        self.col_2 = col_2
        self.fields_to_test= rel_data[1]
        self.rel_data = rel_data

        if 'apply_chi' in rel_data[0]:
            print('apply_chi')
            self.__apply_chi()
        else:
            print('apply_spearmanr')
            self.__apply_spearmanr( rel_data[2])

    def __apply_chi(self):
        """
        apply chi_square test based on the cols and data
        :param new_names: more relevant data to employ when run the test
        :param col_1:
        :param col_2:
        :return:
        """
        # b.	Clean the data
        test_data = pre_test_data[[self.col_1, self.col_2]]
        # In case more data should be remove prior to the analysis
        if isinstance(self.rel_data[-1],list):
            test_data = test_data[~test_data.isin([-1]+self.rel_data[-1]).any(axis=1)]
        else:
            test_data = test_data[~test_data.isin([-1]).any(axis=1)]

        # c.	Create group
        for item in self.fields_to_test.items():
            internal_dict  = item[1]
            var_temp = item[0]
            test_data[var_temp] =  test_data[var_temp].apply(lambda x: internal_dict[x] if x in internal_dict else x)

        # d.	Cross tub
        contingency_table = pd.crosstab(test_data[self.col_1], test_data[self.col_2], normalize='columns') * 100

        # e.	test
        chi2, p, _, _ = stats.chi2_contingency(contingency_table)

        # Print the chi-square test statistic and p-value
        print(contingency_table)
        print('Chi-square test statistic:', chi2)
        print('p-value:', p)

    def __apply_spearmanr(self, more_cols_to_delete):

        # The data to read (the Excel name- @col_1 and sheet name  - @col_2)
        df = pd.read_excel(f'{data_path}/{self.col_1}.xlsx', sheet_name=self.col_2)
        # Obten only the contingency_table from the file, update the cols names and remove irrelevant data
        new_df = df.iloc[df.loc[df[df.columns[0]].isnull()].index.item()+1:]
        new_df.columns= new_df.iloc[0]
        cols_to_delete_temp = [col for col in cols_to_delete if col in new_df.columns] + more_cols_to_delete
        new_df = new_df.reset_index(drop=True).drop(0).drop(columns= cols_to_delete_temp).set_index(var_1)
        # extract the required data for test
        data_1= np.array(range(len(new_df.columns)))
        # the data to test which can be based on one or more fields (if it is list is more than one)
        if isinstance(self.fields_to_test,list):
            data_2 = np.array(new_df.loc[self.fields_to_test].sum())
        else:
            data_2= np.array(new_df.loc[self.fields_to_test])
        # Perform the Cochran-Armitage test of trend
        result = stats.spearmanr(data_1, data_2)

        # Extract the test statistic and p-value
        test_statistic = result.correlation
        p_value = result.pvalue

        # Print the test statistic and p-value
        print("Test Statistic:", test_statistic)
        print("p-value:", p_value)
#endregion

In [3]:
predictors ={'Q13':'value_approx','Q14':'is_electric','Q15':'bicycle_type','Q18':'is_recover',  'Q28':'seasons', 'Q29':'purpose', 'age_groups': 'age_groups', 'Q35': 'gender', 'Q36': 'income','Q37':'nm_bikes', 'Q38': 'education','country':'country'}
dependent_vars = {'Q25':'is_replaced','Q30':'mode_alt', 'Q31':'post_act'}

In [ ]:
var_1 = 'mode_alt'
vars_2 = ['value_approx','nm_bikes','age_groups','income']
for var_2 in vars_2:
    for temp_val in pre_test_data[pre_test_data[var_1 ] != -1][var_1].drop_duplicates().values:
        print(f'\n{temp_val}')
        if var_2=='age_groups':
            test_fields=('spearmanr', temp_val,['Children (<13)'])
        else:
            test_fields=('spearmanr', temp_val,[])
        res = MyTests(var_1, var_2, test_fields)

In [8]:
pre_test_data[pre_test_data['is_replaced'] != -1]['is_replaced'].drop_duplicates().values

array(['\u200bYes, and I replaced it with exactly what was stolen or something more expensive',
       'Yes, but the replacement was something cheaper', 'No'],
      dtype=object)

In [5]:
#region
# dependent 2
var_1 = 'mode_alt'

var_2 = 'seasons'
val_1 = 'not active'
test_fields= ('apply_chi', {var_1:{'Didn’t make those trips':val_1}})
MyTests(var_1, var_2, test_fields)

var_2= 'purpose'
test_fields= ('apply_chi', {var_1:{'Didn’t make those trips':val_1}})
MyTests(var_1, var_2, test_fields)

val_1 = 'make this trip'
test_fields= ('apply_chi', {var_1:{'active':val_1, 'not active':val_1}})
MyTests(var_1, var_2, test_fields)

var_2 = 'is_electric'
val_1 = 'active'
test_fields=('apply_chi', {var_1:{'Didn’t make those trips':val_1}})
MyTests(var_1, var_2, test_fields)

var_2 = 'value_approx'
val_1 = 'active'
test_fields=('spearmanr', val_1,['$7000 or more'])
MyTests(var_1, var_2, test_fields)

var_2 = 'is_recover'
val_1 = 'not active'
test_fields=('apply_chi', {var_1:{'Didn’t make those trips':val_1}})
MyTests(var_1, var_2, test_fields)

var_2 = 'nm_bikes'
val_1 = 'active'
test_fields=('spearmanr', val_1,[])
MyTests(var_1, var_2, test_fields)

var_2 = 'age_groups'
val_1 = 'not active'
val_2 = 'not young'
test_fields=('apply_chi', {var_1:{'Didn’t make those trips':val_1},var_2:{age:val_2 for age in pre_test_data[var_2]if age not  in ['Young adults (18-24)']}},['Children (<13)','Adolescents (13-17)'])
MyTests(var_1, var_2, test_fields)

var_2 = 'income'
val_1 = 'not active'
val_2 = 'not low income'
test_fields=('apply_chi', {var_1:{'Didn’t make those trips':val_1},var_2:{b:val_2 for b in pre_test_data[var_2]if b not  in ['Under $20,000 per year']}})
MyTests(var_1, var_2, test_fields)
#endregion

mode_alt::seasons
apply_chi
seasons      0.0        1.0        2.0
mode_alt
active      25.0  29.949749  55.251142
not active  75.0  70.050251  44.748858
Chi-square test statistic: 22.659060879893193
p-value: 1.2012888535235022e-05

mode_alt::purpose
apply_chi
purpose     Equal mix of recreation, exercise, and transportation trips  \
mode_alt
active                                              39.159292
not active                                          60.840708

purpose     Recreation or exercise  Transportation
mode_alt
active                   31.518625       41.111111
not active               68.481375       58.888889
Chi-square test statistic: 2.1987514330944222
p-value: 0.33307895448593955

mode_alt::purpose
apply_chi
purpose                  Equal mix of recreation, exercise, and transportation trips  \
mode_alt
Didn’t make those trips                                            4.20354
make this trip                                                    95.79646

purpose                  Recreation or exercise  Transportation
mode_alt
Didn’t make those trips               26.790831        2.407407
make this trip                        73.209169       97.592593
Chi-square test statistic: 37.326712115701845
p-value: 7.845261971756796e-09

mode_alt::is_electric
apply_chi
is_electric  Yes, with pedal-assist  Yes, with pedal-assist and throttle  \
mode_alt
active                    39.772727                            33.333333
not active                60.227273                            66.666667

is_electric        ​No
mode_alt
active       51.407001
not active   48.592999
Chi-square test statistic: 6.912631294337069
p-value: 0.03154577393423454

mode_alt::value_approx
apply_spearmanr
Test Statistic: -0.942857142857143
p-value: 0.0048046647230320545

mode_alt::is_recover
apply_chi
is_recover         No        Yes
mode_alt
active      34.610028  46.564885
not active  65.389972  53.435115
Chi-square test statistic: 2.4883616460247038
p-value: 0.1146910604066402

mode_alt::nm_bikes
apply_spearmanr
Test Statistic: 0.942857142857143
p-value: 0.0048046647230320545

mode_alt::age_groups
apply_chi
age_groups  Young adults (18-24)  not young
mode_alt
active                      50.0  35.669192
not active                  50.0  64.330808
Chi-square test statistic: 3.628732917278225
p-value: 0.05679003728169556

mode_alt::income
apply_chi
income      Under $20,000 per year  not low income
mode_alt
active                   51.219512       35.638673
not active               48.780488       64.361327
Chi-square test statistic: 4.32674329570235
p-value: 0.03751796448189743

In [11]:
var_1 = 'mode_alt'
vars_2 = ['value_approx','nm_bikes','age_groups','income']
for var_2 in vars_2:
    for temp_val in pre_test_data[pre_test_data[var_1 ] != -1][var_1].drop_duplicates().values:
        print(f'\n{temp_val}')
        if var_2=='age_groups':
            test_fields=('spearmanr', temp_val,['Children (<13)'])
        else:
            test_fields=('spearmanr', temp_val,[])
        res = MyTests(var_1, var_2, test_fields)

Didn’t make those trips

mode_alt::value_approx
apply_spearmanr
Test Statistic: 0.4504687313477795
p-value: 0.3104293018513229

not active

mode_alt::value_approx
apply_spearmanr
Test Statistic: -0.18018749253911182
p-value: 0.6990457740939315

active

mode_alt::value_approx
apply_spearmanr
Test Statistic: -0.6071428571428572
p-value: 0.1482311614811614

Didn’t make those trips

mode_alt::nm_bikes
apply_spearmanr
Test Statistic: 0.16903085094570333
p-value: 0.7488684500235265

not active

mode_alt::nm_bikes
apply_spearmanr
Test Statistic: -0.7944613465542746
p-value: 0.05902759992532669

active

mode_alt::nm_bikes
apply_spearmanr
Test Statistic: 0.942857142857143
p-value: 0.0048046647230320545

Didn’t make those trips

mode_alt::age_groups
apply_spearmanr
Test Statistic: 0.4642857142857144
p-value: 0.2939341076002517

not active

mode_alt::age_groups
apply_spearmanr
Test Statistic: -0.36037498507822363
p-value: 0.42714880856090626

active

mode_alt::age_groups
apply_spearmanr
Test Statistic: 0.0
p-value: 1.0

Didn’t make those trips

mode_alt::income
apply_spearmanr
Test Statistic: 0.4047619047619048
p-value: 0.3198886412288162

not active

mode_alt::income
apply_spearmanr
Test Statistic: 0.17964393928698885
p-value: 0.6703442772469386

active

mode_alt::income
apply_spearmanr
Test Statistic: -0.626551500525444
p-value: 0.09646118602901278

In [7]:
#region
# dependent 3
var_1 ='post_act'

# a.	Define var
var_2 = 'is_recover'
val_1 = 'positive'
val_2 = 'negative'

test_fields= ('apply_chi', {var_1:{'I stopped cycling':val_2, 'Less often':val_2,'About the same / no change':val_1,'More often':val_1}})
res= MyTests(var_1, var_2, test_fields)
var_2 = 'seasons'
test_fields=('apply_chi', {var_1:{'I stopped cycling':val_2, 'Less often':val_2,'About the same / no change':val_1,'More often':val_1}})
res = MyTests(var_1, var_2, test_fields)
test_fields=('apply_chi', {var_1:{'I stopped cycling':val_2, 'Less often':val_1,'About the same / no change':val_1,'More often':val_1},var_2:{2:1}})
res = MyTests(var_1, var_2, test_fields)

var_2 = 'age_groups'
val_1 = 'still cycling'

test_fields=('apply_chi', {var_1:{ 'Less often':val_1,'About the same / no change':val_1,'More often':val_1},var_2:{age:val_2 for age in pre_test_data[var_2]if age not  in ['Young adults (18-24)']}},['Children (<13)','Adolescents (13-17)'])
res = MyTests(var_1, var_2, test_fields)
var_2 = 'income'
test_fields=('spearmanr', 'I stopped cycling',[])
res = MyTests(var_1, var_2, test_fields)
var_2 = 'value_approx'

val_1 = 'no more often'
val_2 = 'not cheap bike'
test_fields=('apply_chi', {var_1:{ 'Less often':val_1,'About the same / no change':val_1,'I stopped cycling':val_1},var_2:{temp:val_2 for temp in pre_test_data[var_2]if temp not  in ['Less than $250']}})
res = MyTests(var_1, var_2, test_fields)
var_2 = 'seasons'
val_1 = 'negative'
test_fields=('apply_chi', {var_1:{ 'Less often':val_1,'I stopped cycling':val_1}},['More often'])
res = MyTests(var_1, var_2, test_fields)
var_2 = 'value_approx'
test_fields=('spearmanr', 'About the same / no change',[])
res = MyTests(var_1, var_2, test_fields)

var_2 = 'nm_bikes'
test_fields=('spearmanr', 'About the same / no change',['Zero'])
res = MyTests(var_1, var_2, test_fields)

var_2 = 'education'
test_fields=('spearmanr', 'About the same / no change',[])
res = MyTests(var_1, var_2, test_fields)
#endregion

post_act::is_recover
apply_chi
is_recover       No        Yes
post_act
negative    47.8738  27.675277
positive    52.1262  72.324723
Chi-square test statistic: 7.840402304773549
p-value: 0.005109123495550274

post_act::seasons
apply_chi
seasons         0.0        1.0        2.0
post_act
negative  82.439024  45.986125  22.121896
positive  17.560976  54.013875  77.878104
Chi-square test statistic: 73.82059854544553
p-value: 9.333847489738014e-17

post_act::seasons
apply_chi
seasons         0.0        1.0
post_act
negative  58.536585   8.539945
positive  41.463415  91.460055
Chi-square test statistic: 53.8505747481379
p-value: 2.1633180147558866e-13

post_act::age_groups
apply_chi
age_groups         Young adults (18-24)   negative
post_act
I stopped cycling             32.258065  14.374226
still cycling                 67.741935  85.625774
Chi-square test statistic: 7.971714255037737
p-value: 0.004751392107743264

post_act::income
apply_spearmanr
Test Statistic: -0.9221722216732094
p-value: 0.0011108173578061712

post_act::value_approx
apply_chi
value_approx   Less than $250  not cheap bike
post_act
More often          13.513514        5.700424
no more often       86.486486       94.299576
Chi-square test statistic: 2.6726174016569697
p-value: 0.10208800736772033

post_act::seasons
apply_chi
seasons                           0.0        1.0        2.0
post_act
About the same / no change  15.920398  50.690755  76.442308
negative                    84.079602  49.309245  23.557692
Chi-square test statistic: 73.95890506401399
p-value: 8.710193869575939e-17

post_act::value_approx
apply_spearmanr
Test Statistic: 0.8571428571428573
p-value: 0.01369732661532562

post_act::nm_bikes
apply_spearmanr
Test Statistic: 0.9999999999999999
p-value: 1.4042654220543672e-24

post_act::education
apply_spearmanr
Test Statistic: 0.7356123579206245
p-value: 0.09561078073827967

In [5]:
var_1 = 'post_act'
vars_2 = ['age_groups','income','nm_bikes','value_approx','education']
for var_2 in vars_2:
    for temp_val in pre_test_data[pre_test_data[var_1 ] != -1][var_1].drop_duplicates().values:
        print(f'\n{temp_val}')
        if var_2=='age_groups':
            test_fields=('spearmanr', temp_val,['Children (<13)'])
        elif var_2=='nm_bikes':
            test_fields=('spearmanr', temp_val,['Zero'])
        else:
            test_fields=('spearmanr', temp_val,[])
        res = MyTests(var_1, var_2, test_fields)

More often

post_act::age_groups
apply_spearmanr
Test Statistic: -0.10910894511799621
p-value: 0.8158714843641036

About the same / no change

post_act::age_groups
apply_spearmanr
Test Statistic: 0.7500000000000002
p-value: 0.05218140045705776

Less often

post_act::age_groups
apply_spearmanr
Test Statistic: -0.3243374865704013
p-value: 0.47788547973993134

I stopped cycling

post_act::age_groups
apply_spearmanr
Test Statistic: -0.14285714285714288
p-value: 0.7599453002180929

More often

post_act::income
apply_spearmanr
Test Statistic: -0.6747477697966319
p-value: 0.06640156509474052

About the same / no change

post_act::income
apply_spearmanr
Test Statistic: 0.9700772721497397
p-value: 6.548558831120658e-05

Less often

post_act::income
apply_spearmanr
Test Statistic: 0.06024533658898499
p-value: 0.8873130218901896

I stopped cycling

post_act::income
apply_spearmanr
Test Statistic: -0.9221722216732094
p-value: 0.0011108173578061712

More often

post_act::nm_bikes
apply_spearmanr
Test Statistic: -0.5642880936468347
p-value: 0.32172333582430024

About the same / no change

post_act::nm_bikes
apply_spearmanr
Test Statistic: 0.9999999999999999
p-value: 1.4042654220543672e-24

Less often

post_act::nm_bikes
apply_spearmanr
Test Statistic: -0.8999999999999998
p-value: 0.03738607346849874

I stopped cycling

post_act::nm_bikes
apply_spearmanr
Test Statistic: -0.9999999999999999
p-value: 1.4042654220543672e-24

More often

post_act::value_approx
apply_spearmanr
Test Statistic: -0.592999453328881
p-value: 0.16052191228369223

About the same / no change

post_act::value_approx
apply_spearmanr
Test Statistic: 0.8571428571428573
p-value: 0.01369732661532562

Less often

post_act::value_approx
apply_spearmanr
Test Statistic: -0.4684874806016907
p-value: 0.288996771597148

I stopped cycling

post_act::value_approx
apply_spearmanr
Test Statistic: -0.23640271442232513
p-value: 0.6097900468148635

More often

post_act::education
apply_spearmanr
Test Statistic: 0.057977103565244846
p-value: 0.9131317851623264

About the same / no change

post_act::education
apply_spearmanr
Test Statistic: 0.7356123579206245
p-value: 0.09561078073827967

Less often

post_act::education
apply_spearmanr
Test Statistic: -0.6377481392176932
p-value: 0.17307111024125976

I stopped cycling

post_act::education
apply_spearmanr
Test Statistic: -0.9856107606091623
p-value: 0.0003090856678496699

In [10]:
pre_test_data['age_groups'].unique()

array(['Older adults (>64)', 'Adults (55-64)', 'Adults (45-54)',
       'Adults (35-44)', 'Adults (25-34)', 'Young adults (18-24)',
       'Adolescents (13-17)', 'Children (<13)'], dtype=object)

In [9]:
#region
# dependent 1
var_1 ='is_replaced'

In [ ]:

# a.	Define var
var_2 = 'is_recover'
val = 'yes'
test_fields= ('apply_chi', {var_1:{'​Yes, and I replaced it with exactly what was stolen or something more expensive':val, 'Yes, but the replacement was something cheaper':val}})
res= MyTests(var_1, var_2, test_fields)

var_2 = 'seasons'
test_fields=('apply_chi', {var_1:{'​Yes, and I replaced it with exactly what was stolen or something more expensive':val, 'Yes, but the replacement was something cheaper':val}, var_2:{2:1}})
res = MyTests(var_1, var_2, test_fields)


var_2 = 'value_approx'
val_1= 'low'
val_2 = 'high'
test_fields=('apply_chi', {var_1:{'​Yes, and I replaced it with exactly what was stolen or something more expensive':val, 'Yes, but the replacement was something cheaper':'No'}, var_2:{'Less than $250':val_1,'$250-$499':val_1,'$500-$999':val_1,'$1000-$1999':val_1,'$2000-3999':val_1,'$4000-6999':val_2,'$7000 or more':val_2}})
res = MyTests(var_1, var_2, test_fields)

In [6]:
var_1 = 'is_replaced'
vars_2 = ['income','nm_bikes','education','value_approx']
for var_2 in vars_2:
    for temp_val in pre_test_data[pre_test_data[var_1 ] != -1][var_1].drop_duplicates().values:
        print(f'\n{temp_val}')
        if var_2=='nm_bikes':
            test_fields=('spearmanr', temp_val,['Zero'])
        else:
            test_fields=('spearmanr', temp_val,[])
        res = MyTests(var_1, var_2, test_fields)

#endregion

​Yes, and I replaced it with exactly what was stolen or something more expensive

is_replaced::income
apply_spearmanr
Test Statistic: 0.9700772721497397
p-value: 6.548558831120658e-05

Yes, but the replacement was something cheaper

is_replaced::income
apply_spearmanr
Test Statistic: -0.8982196964349441
p-value: 0.002438796796382353

No

is_replaced::income
apply_spearmanr
Test Statistic: -0.9157291161525718
p-value: 0.0014031743248924412

​Yes, and I replaced it with exactly what was stolen or something more expensive

is_replaced::nm_bikes
apply_spearmanr
Test Statistic: 0.8999999999999998
p-value: 0.03738607346849874

Yes, but the replacement was something cheaper

is_replaced::nm_bikes
apply_spearmanr
Test Statistic: -0.9746794344808964
p-value: 0.004818230468198537

No

is_replaced::nm_bikes
apply_spearmanr
Test Statistic: -0.44721359549995787
p-value: 0.45018485575210093

​Yes, and I replaced it with exactly what was stolen or something more expensive

is_replaced::education
apply_spearmanr
Test Statistic: 0.9856107606091623
p-value: 0.0003090856678496699

Yes, but the replacement was something cheaper

is_replaced::education
apply_spearmanr
Test Statistic: -0.8116794499134279
p-value: 0.04985758510134035

No

is_replaced::education
apply_spearmanr
Test Statistic: -0.3714285714285715
p-value: 0.46847813411078715

​Yes, and I replaced it with exactly what was stolen or something more expensive

is_replaced::value_approx
apply_spearmanr
Test Statistic: 0.9369749612033814
p-value: 0.0018510301964418906

Yes, but the replacement was something cheaper

is_replaced::value_approx
apply_spearmanr
Test Statistic: -0.8288624656799143
p-value: 0.021173515581004273

No

is_replaced::value_approx
apply_spearmanr
Test Statistic: -0.9549937104572925
p-value: 0.0008055353363017577

<span style="color: blue;font-size: 50px">Make table of the main variables with the main options</span>

In [8]:
predictors ={'Q13':'value_approx','Q14':'is_electric','Q15':'bicycle_type','Q18':'is_recover',  'Q28':'seasons', 'Q29':'purpose', 'age_groups': 'age_groups', 'Q35': 'gender', 'Q36': 'income','Q37':'nm_bikes', 'Q38': 'education','country':'country'}
dependent_vars = {'Q25':'is_replaced','Q30':'mode_alt', 'Q31':'post_act'}

In [9]:
cols_1 = list(dependent_vars.values())
cols_2 = ['value_approx','is_recover','seasons', 'income','nm_bikes','education']

In [10]:
col_1= cols_1[0]
col_2 = cols_2[0]
df = pd.read_excel(f'{data_path}/{col_1}.xlsx', sheet_name=col_2)
df.iloc[df.loc[df[df.columns[0]].isnull()].index.item()+1:]

,Unnamed: 0,value_approx,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
10,is_replaced,Less than $250,$250-$499,$500-$999,$1000-$1999,$2000-3999,$4000-6999,$7000 or more,Don’t know/not sure,I prefer to not answer
11,"​Yes, and I replaced it with exactly what was ...",41,36,41,45,51,58,59,40,50
12,"Yes, but the replacement was something cheaper",25,27,26,23,18,16,18,20,50
13,No,32,36,31,30,30,24,21,40,0

In [43]:

df = pd.read_excel(f'{data_path}/{col_1}.xlsx', sheet_name=col_2)
# Obten only the contingency_table from the file, update the cols names and remove irrelevant data
new_df = df.iloc[df.loc[df[df.columns[0]].isnull()].index.item()+1:]

new_df.columns= new_df.iloc[0]
cols_to_delete_temp = [col for col in cols_to_delete if col in new_df.columns]
new_df = new_df.reset_index(drop=True).drop(0).drop(columns= cols_to_delete_temp).set_index(col_1).drop(index= 'No')
new_df_1 = new_df.set_index(col_1*len(new_df))
new_df_1

KeyError: "None of ['is_replacedis_replaced'] are in the columns"

In [38]:
cols_to_delete

['I prefer to not answer', 'Don’t know/not sure']

In [ ]:

new_df = new_df.reset_index(drop=True).drop(0).drop(columns= cols_to_delete_temp).set_index(col_1)
# extract the required data for test

new_df.drop(index= 'No')

In [12]:
cols_to_delete_temp

['I prefer to not answer', 'Don’t know/not sure']

<span style="color: red;font-size: 50px">Test Zone</span>

In [244]:
# dependent 3
var_1 ='post_act'

# a.	Define var
var_2 = 'is_recover'
val_1 = 'positive'
val_2 = 'negative'
col_1 = 'post_act'
col_2='seasons'
fields_to_test= {var_1:{'I stopped cycling':val_2, 'Less often':val_2,'About the same / no change':val_1,'More often':val_1}}
test_data = pre_test_data[[col_1, col_2]]
test_data = test_data[~test_data.isin([-1]).any(axis=1)]
test_data

                        post_act  seasons
0                     More often      1.0
1     About the same / no change      2.0
2     About the same / no change      1.0
3     About the same / no change      1.0
4     About the same / no change      2.0
...                          ...      ...
1813  About the same / no change      0.0
1816  About the same / no change      1.0
1817                  Less often      2.0
1818                  Less often      1.0
1820  About the same / no change      0.0

[1657 rows x 2 columns]

In [245]:

# c.	Create group
for item in fields_to_test.items():
    internal_dict  = item[1]
    var_temp = item[0]
    test_data[var_temp] =  test_data[var_temp].apply(lambda x: internal_dict[x] if x in internal_dict else x)
test_data

      post_act  seasons
0     positive      1.0
1     positive      2.0
2     positive      1.0
3     positive      1.0
4     positive      2.0
...        ...      ...
1813  positive      0.0
1816  positive      1.0
1817  negative      2.0
1818  negative      1.0
1820  positive      0.0

[1657 rows x 2 columns]

In [243]:
internal_dict

{'I stopped cycling': 'high',
 'Less often': 'high',
 'About the same / no change': 'low',
 'More often': 'low'}

In [246]:

# d.	Cross tub
contingency_table = pd.crosstab(test_data[col_1], test_data[col_2], normalize='columns') * 100
contingency_table

seasons         0.0        1.0        2.0
post_act
negative  82.439024  45.986125  22.121896
positive  17.560976  54.013875  77.878104

In [247]:

# e.	test
chi2, p, _, _ = stats.chi2_contingency(contingency_table)

# Print the chi-square test statistic and p-value
print(contingency_table)
print('Chi-square test statistic:', chi2)
print('p-value:', p)

seasons         0.0        1.0        2.0
post_act
negative  82.439024  45.986125  22.121896
positive  17.560976  54.013875  77.878104
Chi-square test statistic: 73.82059854544553
p-value: 9.333847489738014e-17